@import (reference) '../../../styles/config.less';

.favorites-list {
  position: relative;
  background-color: @brand-thumbs;
  width: 100%;
  padding: @thumb-margin 0 @thumb-margin 0;
  .favorites-list__label {
    color: @color-black-2;
    font-size: 2em;
    font-family: @font-thin;
    text-transform: uppercase;
    margin: 10px @app-padding 10px @app-padding;
    .isMobile({ margin: 10px @app-padding-mobile 10px @app-padding-mobile; });
  }
}
