@import (reference) '../../../styles/config.less';
@import '../../../styles/arrow.less';

.favorites-list {
  position: relative;
  background-color: @color-indigo;
  width: 100%;
  padding: @thumb-margin 0 @thumb-margin 0;
}
