@import (reference) '../../../styles/config.less';

@thumb-margin: 10px;
@thumb-margin-hover: 50px;
@thumb-width: 140px;
@thumb-height: 200px;
@zoom-margin: 50px;

.account-password {
  height: 100%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 12px;

  h1 {
    color: #482C4D;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #453050;
    padding-bottom: 15px;
  }

  .new-password-label {
    display: inline-block;
    width: 100%;
    color: #5F0067;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .new-password {
    display: inline-block;
    width: 100%;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid @gray-light;
  }

  .confirm-new-password-label {
    display: inline-block;
    width: 100%;
    color: #5F0067;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .confirm-new-password {
    display: inline-block;
    width: 100%;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid @gray-light;
  }

  .button-change-password {
    font-weight: bold;
    background-color: #F0C530;
    color: #000000;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 40px;
  }

  #change-password {
    color: #ff0000;
    min-height: 20px;
  }

  .password-message {
    color: #5F0067;
  }
}
