@import (reference) '../../../styles/config.less';

@thumb-margin: 10px;
@thumb-margin-hover: 50px;
@thumb-width: 140px;
@thumb-height: 200px;
@zoom-margin: 50px;

.account-password {
  height: 100%;
  width: 60%;

  h1 {
    color: #453050;
  }

  .new-password-label {
    display: inline-block;
    width: 100%;
    color: #453050;
  }

  .new-password {
    display: inline-block;
    width: 100%;
  }

  .confirm-new-password-label {
    display: inline-block;
    width: 100%;
    color: #453050;
  }

  .confirm-new-password {
    display: inline-block;
    width: 100%;
  }

  .button-change-password {
    margin-top: 20px;
    font-weight: bold;
    background-color: #F0C530;
    color: #000000;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
  }
}
