@import (reference) '../../../styles/config.less';

.account-page {
  margin-top: 20px;
  font-size: 12px;
  text-align: left;
  color: @color-purple;

  h1 {
    font-size: 28px;
  }

  .account-details {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid @gray-light;
  }

  .account-details__header {
    font-size: 18px;
    line-height: 28px;
    color: @gray-light;
  }
  .account-details__info {
    font-size: 18px;
    line-height: 28px;
    color: @gray-light;
  }

  .account-details__container {
  }

  span {
    color: @color-purple;
  }

  .progress {
    height: 12px;
    border-radius: 2px;
  }

  .table {
    color: @color-purple;
  }

  .cancel-plan-hidden {
    display: none;
  }
}
