@import (reference) '../../../styles/config.less';

.account-credit-card {

  .button-cancel__subscription,
  .btn-return__account {
    font-weight: bold;
    background-color: @color-purple-1;
    color: @color-yellow;
    margin: 20px 0 0 20px;
  }

  .button-cancel__subscription {
    background-color: @color-yellow;
    color: @color-purple-1;
  }
}
