{
  "plugins": [
    [
      "transform-decorators-legacy",
      {
        "loose": true
      }
    ],
    [
      "transform-runtime",
      {
        "loose": true
      }
    ],
    "system-import-transformer"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ]
}
