{
  "plugins": [
    [
      "transform-decorators-legacy",
      {
        "loose": true
      }
    ],
    [
      "transform-runtime",
      {
        "loose": true
      }
    ]

  ],
  "presets": [
    "es2015-native-modules",
    "stage-0",
    "react"
  ]
}
