<!DOCTYPE html>
<html data-cast-api-enabled="true">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title data-react-helmet="true">Afrostream.tv Final Callback Iframe</title>
</head>
<body>

<div id="main">
  <script type="text/javascript">
    var response = JSON.parse(atob(location.hash && location.hash.substr(1)))
  </script>
  FIXME
</div>
</body>
</html>
