<!DOCTYPE html>
<html>
<head>
    <title>Afrostream.tv</title>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Auth0Lock script -->
    <script src="//cdn.auth0.com/js/lock-7.5.min.js"></script>
    <script src="//js.recurly.com/v3/recurly.js"></script>

    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- STREAMROOT STYLE -->
    <!--<link href="//files.streamroot.io/release/latest/wrappers/videojs/streamroot.css" rel="stylesheet">-->
  {{#each cssPaths}}
      <link rel="stylesheet" href="{{.}}"></link>
  {{/each}}
    <!-- Streamroot player -->
    <!--<script src="//files.streamroot.io/release/latest/api.js"></script>-->
</head>
<body>
<div id="main">{{{body}}}</div>
<script>
    __INITIAL_STATE__ = {{{json-stringify initialState}}};
</script>


{{#each jsPaths}}
    <script src="{{.}}"></script>
{{/each}}

<!--<script src="//files.streamroot.io/release/latest/wrappers/videojs/streamroot.wrapper.js"></script>-->
<!--<script src="//files.streamroot.io/release/latest/wrappers/videojs/srflash.wrapper.420.js"></script>-->
</body>
</html>
