<!DOCTYPE html>
<html data-cast-api-enabled="true">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title data-react-helmet="true">Afrostream.tv OAuth Popup</title>
</head>
<body>

<div id="main">
  <script type="text/javascript">
    if (window.opener) {
      window.opener.focus();
    }
    var storageId = '{{storageId}}';
    var tokenData = {{{json tokenData}}};
    var signupClientType = '{{signupClientType}}';

    if (tokenData) {
      localStorage.setItem(storageId, JSON.stringify(tokenData));
      // adding token data to url anchor
      var data = {statusCode: tokenData.error ? 500 : 200, data: tokenData};
      document.location.hash = window.btoa(JSON.stringify(data));
      // request from tapptic app ?
      if (signupClientType === 'legacy-api.tapptic') {
        document.location = String(document.location.href).replace(/^https?:\/\/[^/]+\//, 'afrostream://');
      }
    }

    // postpone close :
    //  we let 200ms to mobile app to catch the document.location.href change
    setTimeout(function () {
      try {
        window.opener.postMessage(tokenData, '*'); //send the message and target URI
        if (window.opener && window.opener.loginCallBack) {
          window.opener.loginCallBack();
        }
      } catch (e) { /* Blocked a frame with origin X from accessing a frame with origin Y */
      }
      window.close();
    }, 200); // enough ?
  </script>
</div>
</body>
</html>
