<!DOCTYPE html>
<html data-cast-api-enabled="true">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title data-react-helmet="true">Afrostream.tv OAuth Social</title>
</head>
<body>

<div id="main">
  <h1>Afrostream Application Social - Synchronisation de compte desactivé</h1>
  <script type="text/javascript">
    if (window.opener) {
      window.opener.focus();
    }

    setTimeout(function () {
      try {
        window.opener.postMessage({}, '*'); //send the message and target URI
        if (window.opener && window.opener.loginCallBack) {
          window.opener.loginCallBack();
        }
      } catch (e) { /* Blocked a frame with origin X from accessing a frame with origin Y */
      }
      window.close();
    }, 200); // enough ?
  </script>
</div>
</body>
</html>
