<!DOCTYPE html>
<html data-cast-api-enabled="true">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title data-react-helmet="true">Afrostream.tv OAuth Popup</title>
</head>
<body>

<div id="main">
  <h5>Afrostream Application Authentication - Auth Success</h5>
  <script type="text/javascript">
    if (window.opener) {
      window.opener.focus();
    }
    var storageId = '{{storageId}}';
    var tokenData = {{{json tokenData}}};

    if (tokenData) {
      localStorage.setItem(storageId, JSON.stringify(tokenData));
    }

    if (window.opener) {
      if (window.opener.loginCallBack) {
        window.opener.loginCallBack();
      }
    }
    window.close();
  </script>
</div>
</body>
</html>
