@import (reference) '../../../styles/config.less';
@import '../../../styles/arrow.less';

.movies-data-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  .movies-data-list_loader {
    position: absolute;
    height: 2px;
    background-color: @color-yellow;
    left: @app-padding;
    right: @app-padding;
    opacity: 1;
    visibility: visible;
    .transition(width 400ms ease-out, height 400ms linear, opacity 100ms linear);
    &.loader_hidden {
      .transition(opacity 400ms linear);
      .transition-delay(2s);
      opacity: 0;
      visibility: hidden;
    }
  }
  .movies-list__anchor {
    position: absolute;
    margin-top: -@header-height;
  }
  .movies-list__selection {
    font-size: 1.8em;
    font-family: @font-light;
    text-transform: uppercase;
    margin: 10px;
  }

  .spinner {
    width: 0.8em;
    height: 0.8em;
  }

  //axis-y
  .slider-container {
    margin: (@app-padding - @thumb-margin);
    .isMobile({ margin: (@app-padding-mobile - @thumb-margin); });
    > div {
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      > div {
        > div {
          -ms-overflow-style: none;
          -webkit-overflow-scrolling: touch;
          &::-webkit-scrollbar {
            display: none;
          }
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          .thumb {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
          }
        }
      }
    }
  }

  .slider-container {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .movies-data-list {
    .movies-list__selection {
      margin: 10px @app-padding 10px @app-padding;
    }
    .react-list {
      padding: 0 (@app-padding - @thumb-margin) 0 (@app-padding - @thumb-margin);
    }

    .Grid__cell {
      //margin: 0 (@app-padding - @thumb-margin) 0 (@app-padding - @thumb-margin);
    }

  }
}
