@import (reference) '../../../styles/config.less';
@import '../../../styles/btn-play.less';

.movie {
  position: relative;
  background-color: @background-color-base;
  .fullHeight();
  padding: @header-height @app-padding @app-padding @app-padding;
  .isMobile({ padding: @header-height-mobile 0 0 0; });
  float: none;
  min-height: 100vh;
  //Firefox fix
  //height: 100vh;
  overflow: hidden;
  &.serie {
    min-height: 65vh;
    //Firefox fix
    //height: 75vh;
  }
  display: table;
  .movie-info_content {
    display: table-cell;
    position: relative;
    height: 100%;
    width: 100%;
    vertical-align: middle;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

  }

  .afrostream-movie__logo {
    position: absolute;
    width: 100%;
    max-width: 40%;
    right: 1em;
    top: 1em;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    .aspect-ratio-w(16, 9);
    .isMobile({ width: 100%; max-width: 100%; right: inherit });
  }

  > a {
    position: absolute;
    //z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  .movie-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../../assets/images/default/1920x815.jpg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    .afrostream-movie__mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: fade(#000, 30%);
    }
  }
  &.movie--btn_play {
    .btn-play {
      display: block;
      cursor: pointer;
    }
  }
}

@media @mobile,@tablet {
  .movie {
    .btn-play {
      z-index: 2;
      top: 30%;
    }
  }
}

@media @mobile {
  .movie {
    //min-height: inherit;
    height: auto;
    &:before {
      //content: none;
    }
    > a {
      &:before {
        content: none;
      }
    }
    &.serie {
      //min-height: 65vh;
      //Firefox fix
      //height: 65vh;
    }

    &:not(.serie) {
      .movie-background {
        position: relative;
        min-height: 40vh;
        &:after {
          .box-shadow(none);
        }
      }
    }

    .btn-play {
      font-size: 7em;
      top: 17%;
    }
  }
}

