@import (reference) '../../../styles/config.less';
@import '../../../styles/arrow.less';

.movies-list {
  position: relative;
  background-color: @brand-thumbs;
  width: 100%;
  padding: @thumb-margin 0 @thumb-margin 0;
  .user-movie-history {

  }
}
