@import '../../../styles/config.less';
@import '../../../styles/arrow.less';

@thumb-margin: 10px;
@thumb-width: 140px;
@thumb-height: 200px;
@zoom-margin: 50px;
.movies-list {
  position: relative;
  overflow-x: hidden;
  margin: 10px 0 10px 0;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  .selection {
    font-size: 1.8em;
    font-family: @font-light;
    text-transform: uppercase;
    margin: 10px @app-padding 10px @app-padding;
  }
  .movies-list__container {
    position: relative;
    overflow-x: hidden;
    //margin-top: -25px;
    width: 100%;
    .slider {
      position: relative;
      //top: 0;
      //bottom: 0;
      //left: 0;
      width: 100%;
      .slider-conatiner {
        width: 100%;
        //padding-bottom: 20px;
        .thumb-containter {
        }
      }
    }
    .thumb-containter {
      //Padding for dont hide thumb on zooming effect
      //padding: @zoom-padding;
      height: 100%;
      max-height: 100%;
      .thumb {
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 0;
        text-align: left;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        -webkit-font-smoothing: antialiased;
        .thumb-background {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          height: @thumb-height;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          cursor: pointer;
          .transition(opacity 0.1s linear);
          i {
            .transition(opacity 0.1s linear);
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -40px;
            margin-top: -40px;
            &.btn-play {
              background-image: url('../../../../static/images/btn-play.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center;
              width: 80px;
              height: 80px;

            }
          }
          &:before {
            opacity: 0;
            content: '';
            .box-shadow(0px 0px 30px rgba(40, 20, 48, 1) inset);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
          }
          i,
          &:before {
            opacity: 0;
          }
          &:hover {
            i,
            &:before {
              .transition(opacity 0.1s linear);
              opacity: 1;
            }
          }
        }
        .thumb-info {
          vertical-align: middle;
          color: @brand-thumbs;
          padding: 5px 15px 5px 15px;
          white-space: normal;
          min-height: 100%;
          &__title {
            font-family: @font-thin;
            font-weight: 700;
            color: @color-purple-1;
            text-transform: uppercase;
            font-size: 1.5em;
            line-height: 1.4;
            vertical-align: top;
          }
          &__synopsis {
            font-family: @font-light;
            //FIXME force size change it to auto
            font-size: 1.2em;
            vertical-align: middle;
            display: table-cell;
            height: 100%;
            min-height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            //TODO height 100% de l'info block et center ce texte vertically
            padding: 30px 0 25px 0;
            a {
              font-size: 1.3em;
            }
          }
        }
        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }

      }
    }
  }
}

@media (min-width: 768px) {

  .movies-list {
    .movies-list__container {
      margin: -@zoom-margin 0 -@zoom-margin 0;
      .slider {
        .slider-conatiner {
          overflow-x: auto;
          //overflow-y: hidden;
          display: inline-block;
          white-space: nowrap;
          padding: 0 (@app-padding - @thumb-margin) 0 (@app-padding - @thumb-margin);
          .thumb-containter {
            background-color: transparent;
            border-color: transparent;
            flex-shrink: 0;
            display: inline-block;
            margin: @zoom-margin 0 @zoom-margin 0;
            .thumb {
              //maxheight with borders
              max-height: 202px;
              margin: @thumb-margin;
              .thumb-background {
                width: @thumb-width;
              }
              .thumb-info {
                width: @thumb-width * 2;
                display: none;
                opacity: 0;
              }
              &:hover {
                z-index: 9000000;
                background-color: #FFFFFF;
                border-color: @color-yellow;
                .thumb-info {
                  display: inline-block;
                  opacity: 1;
                }
                .thumb-background {
                  .transition(opacity 0.1s linear);
                  i {
                    opacity: 0.6;
                  }
                  &:before {
                    opacity: 1;
                  }
                  &:hover {
                    i,
                    &:before {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}