@import (reference) '../../../styles/config.less';
@import '../../../styles/arrow.less';

.movies-data-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 240px;
  //> div > div {
  //  &:before {
  //    content: '';
  //    display: inline-block;
  //    height: 100%;
  //    vertical-align: middle;
  //  }
  //}
  //.Grid {
  //  display: inline-block;
  //  vertical-align: middle;
  //}
  .movies-data-list_loader {
    position: absolute;
    height: 2px;
    background-color: @color-yellow;
    left: @app-padding;
    right: @app-padding;
    opacity: 1;
    visibility: visible;
    .transition(width 400ms ease-out, height 400ms linear, opacity 100ms linear);
    &.loader_hidden {
      .transition(opacity 400ms linear);
      .transition-delay(2s);
      opacity: 0;
      visibility: hidden;
    }
  }
  .movies-list__anchor {
    position: absolute;
    margin-top: -@header-height;
  }
  .movies-list__selection {
    font-size: 2em;
    font-family: @font-oswald;
    text-transform: uppercase;
    margin: 10px;
    color: @color-indigo;
  }

  .spinner {
    width: 0.8em;
    height: 0.8em;
  }

  .GridRow {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
  }

  .GridColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  //axis-y
  .slider-container {
    margin: (@app-padding - @thumb-margin);
    .isMobile({ margin: (@app-padding-mobile - @thumb-margin); });
    > div {
      > div {
        > div {
          //display: flex;
          //flex-direction: row;
          //flex-wrap: wrap;
          //justify-content: center;
          .thumb {
            order: 0;
            //flex: 1 1 auto;
            //flex-grow: 0;
            //align-self: auto;
          }
        }
      }
    }
  }

  .ReactVirtualized__Grid {
    > div {
      //display: flex;
      //flex-direction: row;
    }
    .block {
      width: 100%;
      height: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .progress-tracker {
    top: 35px;
  }
  .Grid,
  .ReactVirtualized__Grid {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    &:focus {
      outline: 0;
      /* or */
      outline: none;
    }
  }
}

@media (min-width: 768px) {
  .movies-data-list {
    .movies-list__selection {
      margin: 10px @app-padding 10px @app-padding;
    }
    .react-list {
      padding: 0 (@app-padding - @thumb-margin) 0 (@app-padding - @thumb-margin);
    }

  }
}
