@import (reference) '../../../styles/config.less';

.submit-movie-page {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .backgroundima {
    position: absolute;
    .fullHeight();
    background: fade(@color-indigo, 80%);
  }

  .submit-movie {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}
