@import (reference) '../../../styles/config.less';

.submit-movie {
  position: relative;
  display: inline-block;

  .react-autosuggest__container {
    display: inline-block;
    width: 90%;
  }

  .react-autosuggest__input {
    width: 100%;
    height: @header-height;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 26px;
    border: 1px solid #aaa;
    border-radius: @btn-radius;
    color: @color-indigo;
    box-sizing: border-box;
  }

  .react-autosuggest__input:focus {
    outline: none;
  }

  .react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #subscribe-button {
    display: inline-block;
    width: 10%;
    height: @header-height
  }
  /* Email submit button */
  #subscribe-button {
    border: none;
    transition: all .2s linear;
    background-color: fade(@color-indigo, 90%);
    color: @brand-primary;
    cursor: pointer; /* for demo only */
    background: @color-indigo;
  }
  #subscribe-button:hover {
    background-color: fade(@subscriber-color, 90%);
  }

  .react-autosuggest__suggestions-container {
    position: absolute;
    top: @header-height;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #aaa;
    background-color: #fff;
    font-weight: 300;
    font-size: 18px;
    border-bottom-left-radius: @btn-radius;
    border-bottom-right-radius: @btn-radius;
    z-index: 2;
    text-align: left;
    color: @color-indigo;
    img {
      width: 50px;
      height: 70px;
    }
    max-height: 300px;
    overflow: auto;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }

  .react-autosuggest__suggestion:not(:first-child) {
    border-top: 1px solid #ddd;
  }

  .react-autosuggest__suggestion--focused {
    background-color: @color-indigo;
    color: #fff;
  }

  .suggestion-content {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
  }

  .name {
    margin-left: 68px;
    line-height: 45px;
  }

  .highlight {
    color: @color-indigo;
    font-weight: bold;
  }

  .react-autosuggest__suggestion--focused .highlight {
    color: #120000;
  }
}
