@import (reference) '../../../styles/config.less';

.thumb-containter {
  @thumb-width: 140px;
  @thumb-height: 200px;
  @thumb-margin: 10px;
  height: 100%;
  max-height: 100%;
  flex-shrink: 0;
  display: inline-block;
  margin: 0 @thumb-margin 0 @thumb-margin;
  .thumb {
    display: inline-block;
    position: relative;
    padding: 0;
    text-align: left;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    overflow: hidden;
    max-height: 202px;
    height: 200px;
    width: @thumb-width;

    a {
      position: relative;
      display: inline-block;
      float: left;
      width: @thumb-width;
      height: 100%;
      .thumb-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        vertical-align: middle;
        background-image: url(../../../assets/images/default/134x200.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        .transition(opacity 0.1s linear);
        i {
          .transition(opacity 0.1s linear);
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -40px;
          margin-top: -40px;
        }
        &:before {
          opacity: 0;
          content: '';
          .box-shadow(0px 0px 30px rgba(40, 20, 48, 1) inset);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1;
        }
        i,
        &:before {
          opacity: 0;
        }
        &:hover {
          i,
          &:before {
            .transition(opacity 0.1s linear);
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .thumb-containter {

    .thumb {
      background-color: transparent;
      border-color: transparent;
      .thumb-background {
      }
    }
    &:hover {
      .thumb {
        border-color: @color-yellow;
        overflow: hidden;
        .thumb-background {
          .transition(opacity 0.1s linear);
          i {
            opacity: 0.6;
          }
          &:before {
            opacity: 1;
          }
          &:hover {
            i,
            &:before {
              opacity: 1;
            }
          }

          .thumb-new__item {
            position: absolute;
            right: 0;
            top: 0;
            border-color: @color-yellow;
            background: @color-yellow;
            width: 200px;
            height: 200px;
            background-image: url(../../../assets/images/movie/label-nouveau-episode.png);
          }
        }
      }
    }
  }
}
