@import (reference) '../../../styles/config.less';

.thumb {
  padding: @thumb-margin;
  position: relative;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  width: @thumb-width + (@thumb-margin * 2);
  flex: 1;
  &.episode {
    width: @thumb-width-episode;
    a {
      .thumb-background {
        height: @thumb-height-episode;
      }
      .thumb-new__item {
        background-image: url(../../../assets/images/movie/label-nouveau-episode.png);
      }
    }
    .thumb-buttons {
      top: 85px;
      right: 13px;
    }
  }
  &.spot {
    width: @thumb-width-adspot;
    a {
      .thumb-background {
        height: @thumb-height-adspot;
      }
      .thumb-info {
        position: absolute;
        bottom: 0;
        padding: 10px;
        .thumb-info__title {
          font-family: @font-heavy;
          font-size: 4em;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
      }
    }
    .thumb-buttons {
      display: none;
    }
  }
  a {
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    .thumb-new__item {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      background-image: url(../../../assets/images/movie/label-nouveau.png);
    }
    .thumb-info {
      position: relative;
      float: left;
      white-space: normal;
      box-sizing: inherit;
      color: @brand-primary;

      &__title,
      &__synopsis {
        font-family: @font-light;
        font-size: 1.2em;
        vertical-align: middle;
        text-overflow: ellipsis;
        padding: 5px 0 5px 0;
        a {
          font-size: 1.3em;
        }
      }
    }
    .thumb-background {
      //border: 1px solid #FFFFFF;
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: @thumb-height;
      vertical-align: middle;
      background-image: url(../../../assets/images/default/134x200.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      .transition(opacity 0.1s linear);
      .btn-play {
        .transition(opacity 0.1s linear);
        display: block;
        opacity: 0;
        font-size: 5em;
        z-index: 1;
        .transition(opacity 0.2s linear);
        &:hover {
          opacity: 1;
        }
      }
      &:before {
        content: '';
        .box-shadow(0px 0px 30px rgba(40, 20, 48, 1) inset);
        z-index: 1;
      }
    }
  }

  &:hover {
    .thumb-buttons {
      opacity: 1;
      visibility: visible;
      .transition(0.1s ease-out);
      transform: translate(0, 0);
    }
  }

  .thumb-buttons {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    right: 11px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 3em);

    .btn {
      margin: 5px 5px 5px 0px;
    }
  }
}

@media (min-width: 768px) {
  &:hover {
    .thumb {
      &:hover {
        a {
          .thumb-background {
            //border-color: @color-yellow;
            .transition(opacity 0.1s linear);
            .btn-play {
              opacity: 0.6;
            }
            &:before {
              opacity: 1;
            }
            &:hover {
              .btn-play,
              &:before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
