@import (reference) '../../../styles/config.less';
@import '../../../styles/arrow.less';

.user-movie-history {
  position: relative;
  background-color: @color-indigo;
  width: 100%;
  padding: @thumb-margin 0 0 0;
  .user-movie-history_list {
    .slider {
      &.axis-x {
        display: inline-block;
        white-space: nowrap;
        > div {
          > div > div > div {
            height: @thumb-height;
          }
        }
      }
    }
  }
}
