@import (reference) '../../../styles/config.less';

.user-movie-history {
  position: relative;
  background-color: @brand-thumbs;
  width: 100%;
  padding: @thumb-margin 0 0 0;
  h2 {
    text-align: center;
  }
  .user-movie-history_list {
    min-height: 200px;
    .slider {
      &.axis-x {
        display: inline-block;
        white-space: nowrap;
        > div {
          > div > div > div {
            height: @thumb-height - (50px);
          }
        }
      }

    }
  }
}
