/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import (reference) '../../../styles/config.less';

.footer, .page-wrap:after {
  min-height: @footer-height;
}

.footer {
  /*
 * Sticky footer
 */

  width: 100%;
  position: relative;
  display: inline-block;
  background-color: @background-footer;
  padding: 10px 0 0 0;
  min-height: @footer-height;
  font-size: 12px;

  @media all and (max-width: @screen-sm-min) {
    text-align: center;
  }

  .links {
    width: 100%;
    position: relative;
    display: inline-block;

    .get-help {
      position: relative;
      float: left;
      width: 32%;
      padding-left: 14%;

      @media all and (max-width: @screen-sm-min) {
        width: 100%;
        padding-left: 0px;
        float: none;
        padding-top: 5px;
      }

      h4 {
        color: @white-base;
        font-size: 14px;
        font-weight: lighter;
      }

      .footer-links {
        list-style-type: none;
      }
    }
  }

  .footer-link {
    color: #A39EA7;
    line-height: 16px;
  }
  .legal-statements {
    width: 100%;
    min-height: 30px;
    background-color: #442E4F;
    position: relative;
    display: inline-block;

    .links {
      width: 100%;
      position: relative;
      display: inline-block;

      .get-help {
        position: relative;
        float: left;
        width: 32%;
        padding-left: 14%;

        @media all and (max-width: @screen-sm-min) {
          width: 100%;
          padding-left: 0px;
          float: none;
          padding-bottom: 5px;
        }
      }
    }
  }

  .legal-text {
    padding: 10px 0 0 0;
  }
}
