@import (reference) '../../../styles/config.less';

/* Sidebar Styles */

.sidebar-wrapper {
  z-index: @nav-z + 4;
  position: fixed;
  left: 0;
  width: @sidebar-width;
  height: 100%;
  margin-bottom: -@header-height;
  .isMobile({ margin-bottom: -@header-height-mobile; });
  background-color: @color-black-2;
  .transition(transform @menu-open-duration ease);
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;

  .friends-list {
    border-top: solid 1px fade(#FFFFFF, 10%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    .icon-user {
      width: 35px;
      height: 35px;
      margin-right: 1em;
    }
  }
  .logo {
  }

  .sidebar-nav {
    top: 0;
    width: @sidebar-width;
    margin: 0;
    list-style: none;

    .icon-user {
      border-radius: 50px;
      border: 3px solid @color-purple;
      width: 40px;
      height: 40px;
      margin-right: 0.3em;
    }

    .divider {
      height: 1px;
      background: fade(@color-grey, 20%);
      margin: 0 20px 0 20px;
    }

    &.scrollable {
      overflow: scroll;
      height: 100%;
    }
  }

  .side-drawer,
  .sidebar-nav {
    .search-box {
      margin: 10px;
      &.has-focus input {
        width: 100%;
      }
      &:before {
        left: 20px;
      }
    }
  }

  .side-drawer {
    > div {
      padding-top: @header-height;
      .isMobile({ padding-top: @header-height-mobile; });
    }
  }

  .sidebar-nav li {
    text-indent: 1em;
    line-height: 3em;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    .isMobile({ font-size: 2em; padding: 0.3em 1em 0.3em 0; });
    font-family: @font-oswald;
    color: @brand-primary;
    padding-left: 10px;
    &.sidebar-nav_yellow {
      color: @color-yellow;
    }
    i {
      padding: 0 10px 0 0;
    }
    &:hover {
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav li a.active {
    color: @color-yellow;
  }

  .sidebar-nav > .sidebar-brand {
    height: 45px;
    font-size: 18px;
    line-height: 40px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: @brand-primary;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  button {
    display: inline-block;
    height: @header-height;
    &.btn-home {
      @media @mobile {
        width: @sidebar-width - 70px;
      }
      width: @sidebar-width - 50px;
      img {
        max-width: 80%;
      }
      background: @color-black-2;
    }
    border: none;
    .open-menu-icon {
      display: inline-block;
      width: 10%;
      color: #fff;
      margin: 0;
      padding: 0;
      font-size: 2em;
      vertical-align: middle;
    }
  }
}

.contentdock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: left .3s ease-out, right .3s ease-out;
}

@media (min-width: 768px) {

  .sidebar-wrapper {
    .sidebar-nav:first-of-type {
      padding: (@app-padding * 0.5) 0 0 0;
    }
  }

  #page-content-wrapper {
    position: relative;
  }

  .contentdock.docked {
    left: @sidebar-width;
  }

  .docked #page-content-wrapper {
    .headroom {
      margin-left: @sidebar-width;
    }
    .sub-navigation {
    }
  }
}

@media @highdensityTablet {

  .contentdock.docked {
    left: 0;
  }

  .docked #page-content-wrapper {
    .headroom {
      margin-left: 0;
    }
    .sub-navigation {
    }
  }
}

.sidebar-overlay {
  z-index: @nav-z + 3;
  background-color: fade(@color-black-2, 60%);
}
