@import (reference) '../../../styles/config.less';

#nprogress .bar {
  background: @color-yellow !important;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated {
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @header-height;
}

header {
  background-color: fade(@color-black-2, 70%);
  &.topbar-hidden {
    opacity: 0;
    .transition(opacity 0.4s linear);
    //display: none;
  }
  &.topbar-fixed-color {
    background-color: @color-black-2;
  }
  &.slideDown {
    background-color: @color-black-2;
  }
  &.topbar-life {
    background-color: @color-black-2;
  }
  &.topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;
    z-index: @nav-z-header;
    //box-shadow: rgba(0, 0, 0, 0.15) 1px 0px 6px, rgba(0, 0, 0, 0.2) 1px 0px 6px;
    .transition(background-color 0.5s linear);
    .nav-full-width {
      width: 100%;
    }

    nav {
      &.float--left {
        float: left;
      }
      &.float--right {
        float: right;
      }
      &.float--bottom {
        position: absolute;
        left: 0;
        right: 0;
        top: @header-height;
      }
      ul.nav {
        float: left;
        display: flex;
        list-style: none;
        li {
          display: inline-block;
          zoom: 1;
          height: @header-height;
          button, a {
            text-align: center;
            &.btn-home {
              width: @sidebar-width - 50px;
              font-size: 2em;
              background: @color-black-2;
            }
            border: none;
            //border-right: 1px solid rgba(255, 255, 255, .2);
            min-width: 70px;
            line-height: @header-height;
          }
        }
      }
    }
  }

  .open-menu-icon {
    margin-left: @app-padding;
    padding: 5px;
    font-size: 2em;
    vertical-align: middle;
    .isNotMobile({ display: none; });
  }
}
