@import (reference) '../../../styles/config.less';

nav {
  &.navbar-default {
    background-color: transparent;
    border-color: transparent;
    .transition(background 0.2s linear);
    .transition(opacity 0.4s linear);
    border-radius: 0;
    z-index: @nav-z + 1;
  }

  .navbar-collapse {
    border: none;
    top: 5px;
  }
  &.navbar-fixed-color {
    background-color: @color-indigo;
  }
  .navbar-brand {
    padding: 0;
  }
  .collapse.in {
    background-color: @color-indigo;
  }
  .btn-user {
    width: 40px;
    height: 40px;
    margin-right: 25px;
    background-color: transparent;
    border: none;
    padding: 0;
    a {
      padding: 0 !important;
    }
    .icon-user {
      width: 40px;
      height: 40px;
    }
  }
  .label-user {
    vertical-align: middle;
    padding-left: 15px;
    font-size: 0.8em;
    color: @brand-primary;
    text-transform: capitalize;
  }

  .btn-login {
    color: #000000;
    background-color: @color-yellow;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 16px 2px 16px;
    margin-right: 20px;
  }
}

.login-button {
  float: right !important;
  color: #000000;
  background-color: #E4BD00;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 20px 25px 0 0;

  @media all and (max-width: @screen-sm-min) {
    margin: 10px 10px 0 0;
  }
}

@media (min-width: 768px) {
  nav {
    .navbar-header {
      width: 100%;
      text-align: center;
      padding: 20px;
    }

    .navbar-brand {
      float: none;
      img {
        display: inherit;
      }
    }
    &.navbar-hidden {
      opacity: 0;
      .transition(opacity 0.4s linear);
      display: none;
    }
  }
}
