@import (reference) '../../../styles/config.less';

.headroom-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.headroom {
  //transition: transform 200ms linear;
}

.headroom--pinned {
  //transform: translateY(0%);
  .navbar-default {
    background-color: @color-indigo;
  }
}

.headroom--unpinned {
  //transform: translateY(-100%);
  .navbar-default {
    background-color: @color-indigo;
  }
}

nav {
  &.navbar-default {
    background-color: transparent;
    border-color: transparent;
    .transition(background 0.2s linear);
  }
  .navbar-collapse {
    border: none;
    top: 5px;
  }
  &.navbar-fixed-color {
    background-color: @color-indigo;
  }
  .navbar-brand {
    padding: 0;
  }
  .btn-group {

    .btn-user {
      width: 40px;
      height: 40px;
      padding: 5px;
      .icon-user {
        width: 100%;
        height: auto;
      }
    }
    .label-user {
      vertical-align: middle;
      padding-left: 15px;
      font-size: 0.8em;
      color: @brand-primary;
      text-transform: capitalize;
    }
  }
}

@media (min-width: 768px) {
  nav {
    .navbar-header {
      width: 100%;
      text-align: center;
      padding: 20px;
    }

    .navbar-brand {
      float: none;
      img {
        display: inherit;
      }
    }
  }
}