@import (reference) '../../../styles/config.less';
@import '../../../styles/arrow.less';

.season-list {
  position: relative;
  background-color: @brand-thumbs;
  width: 100%;
  padding: @thumb-margin 0 @thumb-margin 0;

  .progress-tracker {
    top: 0;
  }

  .selection {
    position: relative;
    z-index: 1;
    font-size: 1.8em;
    text-transform: uppercase;
    margin: @app-padding-mobile;
    .season {
      margin: 0 10px 0 0;
      font-family: @font-family-base;
      cursor: pointer;
      color: @color-black-2;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover,
      &.active,
      &.season--active {
        color: @color-indigo;
        text-decoration: none;
      }

    }
  }
}

@media (min-width: 768px) {
  .season-list {
    .selection {
      margin: 10px @app-padding 10px @app-padding;
    }
  }
}
