@import (reference) '../../../styles/config.less';

.payment-wrapper {
  width: 100%;
  background-color: #d4d0d6;
  padding-top: 140px;
  padding-bottom: 30px;

  @media all and (max-width: @screen-sm-min) {
    padding-top: 100px;
  }
}

.enter-payment-details {
  color: #452F50;
  margin-top: 20px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  width: 80%;
}


.conditions-generales {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: left;

  .checkbox-conditions-generales {
    width: 20px;
  }
  .text-conditions-generales {
    color: #281430;
    font-weight: bold;
    text-align: left;
    line-height: 16px;
    display: inline;

    a {
      color: #9800B4;
    }
  }
}

.droit-retractation {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: left;

  .checkbox-droit-retractation {
    width: 20px;
  }

  .text-droit-retractation {
    color: #281430;
    font-weight: bold;
    text-align: left;
    line-height: 16px;
    display: inline;

    a {
      color: #9800B4;
    }
  }
}



.payment-form {

  //recreate local variables
  @input-height-base: 34px;
  @input-height-small: 30px;
  @input-height-large: 46px;
  @padding-base-horizontal: 12px;
  @grid-gutter-width: 30px;
  @screen-sm-min: 768px;

  background-color: #ffffff;
  color: #6F248B;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 30px 45px;
  font-size: 12px;
  text-align: center;
  width: 80%;

  @media all and (max-width: @screen-xs-min) {
    padding: 30px 30px 30px 30px;
  }

  .spinner-payment {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    &.spinner-loading {
      display: block;
    }
  }

  .subscription-form {
    height: 100%;
  }

  .card-details {
    width: 100%;
    color: @gray;
    font-size: 16px;
    line-height: 32px;
    display: -webkit-flex;
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: @gray-lighter solid 1px;

    @media all and (max-width: @screen-xs-min) {
      display: inline-block;
    }


    .card-details-img {
      margin-left: 20px;

      @media all and (max-width: @screen-xs-min) {
        margin-left: 0px;
      }

      img {
        max-height: 32px;
      }
    }
  }

  .form-label {
    float: left;
    color: #6F248B;
    font-size: 12px;
    font-weight: bold;
  }

  .button-create-subscription {
    font-weight: bold;
    background-color: #F0C530;
    color: #000000;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    float: left;

    @media all and (max-width: @screen-xs-min) {
      float: inherit;
    }
  }

  .has-error {
    border-color: #a94442;
  }

  .checkbox-has-error {
    border: 1px solid #a94442;
  }

  #errors {
    color: #a94442;
  }
}
