@import (reference) '../../../styles/config.less';


.payment-error {
  color: #453050;
  background-color: #d4d0d6;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 95%;
  padding: 10% 30px 30% 45px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;

  @media all and (max-width: @screen-lg-min) {
    padding: 25% 30px 15% 45px;
  }

  @media all and (max-width: @screen-xs-min) {
    padding: 35% 30px 35% 45px;
  }

  h3 {
    margin-bottom: 20px;
  }

  .error {
    margin-top: 30px;
  }

  .error-link {
    color: #640090;
    text-decoration: underline;
  }

  .error-button {
    color: #640090;
    font-weight: bold;
    background-color: #F0C530;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
  }
}
