@import (reference) '../../../styles/config.less';

.payment-method {
  margin-top: @header-height;
  .payment-method__header {
    font-family: @font-family-base;
    font-size: 1.8em;
  }
  .btn__virement {
    background: url(../../../../static/images/payment/virement.jpg);
  }
  .btn__credit-card {
    background: url(../../../../static/images/payment/virement.jpg);
  }

  .add-payment-method-view {
    margin: 20px 0 20px 0;
  }
}
