@import (reference) '../../../styles/config.less';

.payment-pages__thumbs-row {
  width: 100%;
  height: 200px;
  text-align: center;
  overflow: hidden;
  margin: 15px 10px 10px 5px;

  .payment-page__thumb {

    height: 200px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 140px;
    margin: 15px 10px 10px 5px;
  }

}
