@import (reference) '../../../styles/config.less';


.payment-wrapper {
  width: 100%;
  background-color: #d4d0d6;
  padding-top: 140px;
  padding-bottom: 30px;

  @media all and (max-width: @screen-sm-min) {
    padding-top: 100px;
  }
}

.enter-payment-details {
  color: #452F50;
  margin-top: 20px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  width: 80%;
}

.payment-form {

  //recreate local variables
  @input-height-base: 34px;
  @input-height-small: 30px;
  @input-height-large: 46px;
  @padding-base-horizontal: 12px;
  @grid-gutter-width: 30px;
  @screen-sm-min: 768px;

  background-color: #ffffff;
  color: #6F248B;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 30px 45px;
  font-size: 12px;
  text-align: center;
  width: 80%;

  .spinner-payment {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    &.spinner-loading {
      display: block;
    }
  }

  .subscription-form {
    height: 100%;
  }

  .name-details {
    width: 100%;
    color: @gray;
    font-size: 16px;
    display: -webkit-flex;
    margin-bottom: 15px;
  }

  .form-label {
    float: left;
    color: #6F248B;
    font-size: 12px;
    font-weight: bold;
  }

  .button-create-subscription {
    font-weight: bold;
    background-color: #F0C530;
    color: #000000;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
  }

  .has-error {
    border-color: #a94442;
  }

  #errors {
    color: #a94442;
  }
}
