@import (reference) '../../../styles/config.less';

.plan-container {
  padding: 50px;
  .isMobile({ padding: 0; });
  background-color: @white-base;
  .choose-plan {
    padding: @app-padding;
    color: @color-indigo;
    position: relative;
    padding-bottom: 10px;
    font-size: 2.5em;
    text-align: center;
    //font-family: @font-heavy;
    .choose-plan__bolder {
      font-family: @font-black;
    }

  }

  .select-plan {
    background-color: @white-base;
    color: @color-purple-1;
    font-size: 12px;
    text-align: center;
    padding: @app-padding;

    .select-plan_price {
      font-size: 1.2em;
      font-family: @font-black;
      color: @subscriber-color;
      .select-plan_period {
        font-size: 0.7em;
        font-family: @font-light;
      }
    }

    .row {
      //margin-left: 0;
      //margin-right: 0;
      line-height: 3;
      .isMobile({ line-height: 2; });
      //Toutes les lignes a partir de la 3eme
      &:nth-child(n+3) {
        border-bottom: 1px solid @gray-lighter;
      }
      &:not(:first-child) {
        //Seulement la premiere colonne second ligne
        .col:first-child {
          font-weight: bold;
          @media all and (min-width: @screen-md-min) {
            text-align: left;
          }
        }
      }

      //Les 2 premieres lignes
      &:first-child {
        letter-spacing: 4px;
      }

      &:nth-child(-n+2) {
        text-transform: uppercase;
      }

      //La premiere lgne
      &:nth-child(1) {
        .col {
          &:nth-child(3n+2) {
            color: @plan-blue-color;
          }
          &:nth-child(3n+3) {
            color: @plan-yellow-color;
          }
          &:nth-child(3n+4) {
            color: @plan-purple-color;
          }
          color: @plan-purple-color;
        }
      }

      //La seconde lgne
      &:nth-child(2) {
        .col {
          background-color: @plan-purple-color;
          color: @white-base;
          &:nth-child(1) {
            background-color: transparent;
          }
          &:nth-child(3n+2) {
            background-color: @plan-blue-color;
          }
          &:nth-child(3n+3) {
            background-color: @plan-yellow-color;
          }
          &:nth-child(3n+4) {
            background-color: @plan-purple-color;
          }
        }
      }

      //La 3eme ligne (prices)
      &:nth-child(3) {
        .col {
          &:nth-child(n+2) {
            color: @color-purple-1;
            text-transform: uppercase;
            font-family: @font-book;
          }
        }
      }

      &:nth-last-child(2),
      &:last-child {
        border-bottom: none;
      }

      .col {
        //padding-left: 0;
        //padding-right: 0;
        &:nth-child(1) {
          font-size: 1.2em;
        }

        &:nth-child(2) {
          .btn-plan {
            color: @plan-blue-color;
          }
        }
        &:nth-child(3) {
          .btn-plan {
            color: @plan-yellow-color;
          }
        }
        &:nth-child(4) {
          .btn-plan {
            color: @plan-purple-color;
          }
        }
      }
    }
  }
  .btn-plan {
    font-weight: bold;
    font-size: 1em;
    line-height: 2.5;
    background-color: #eeeeee;
    border-radius: @btn-radius;
    border: 1px solid #C5C6C7;
    color: @plan-purple-color;
    text-align: center;
    max-width: 100%;
    white-space: normal !important;
    word-wrap: break-word;
    text-transform: uppercase;
    .isMobile({ margin: 1em 0 1em 0; });
    &:hover {
      background-color: @subscriber-color;
      color: @brand-primary !important;
      text-decoration: none;
    }
  }
}


