@import (reference) '../../../styles/config.less';

.plan-container {

  .choose-plan {
    color: @color-indigo;
    position: relative;
    padding-bottom: 10px;
    font-size: 2.5em;
    text-align: center;
    //font-family: @font-heavy;
    .choose-plan__bolder {
      font-family: @font-black;
    }

  }

  .select-plan {
    background-color: @white-base;
    color: @color-purple-1;
    font-size: 12px;
    text-align: center;

    .row-element-left {
      position: relative;
      float: left;
      width: 40%;
      min-height: 30px;
      white-space: normal;
      top: 50%;
      transform: translateY(31%);
      text-align: left;
      font-weight: bold;

      @media all and (max-width: @screen-md-min) {
        width: 100%;
        text-align: center;
      }
    }

    .row-element-top-left {
      @media all and (max-width: @screen-md-min) {
        height: 0px;
      }
    }

    .row-element-left-header {
      position: relative;
      float: left;
      width: 40%;
      height: 30px;
      white-space: normal;
      top: 50%;
      transform: translateY(31%);
      text-align: left;
      padding: 8px 12px 8px 12px;
      margin-bottom: 5px;

      @media all and (max-width: @screen-md-min) {
        width: 100%;
        height: 1px;
      }
    }

    .row-element-left-header-shim {
      position: relative;
      float: left;
      width: 2%;
      height: 30px;
      white-space: normal;
      top: 50%;
      transform: translateY(31%);
      text-align: left;
      padding: 8px 12px 8px 12px;
      margin-bottom: 5px;
    }

    .row-element-left-twolines {
      position: relative;
      float: left;
      width: 40%;
      height: 30px;
      white-space: normal;
      top: 50%;
      transform: translateY(31%);
      text-align: left;
      font-weight: bold;

      @media all and (max-width: @screen-md-min) {
        width: 100%;
        text-align: center;
      }
    }

    .row-element {
      position: relative;
      float: left;
      width: 20%;
      min-height: 30px;
      white-space: normal;
      top: 50%;
      transform: translateY(31%);
      color: #76757F;

      @media all and (max-width: @screen-md-min) {
        width: 33%;
      }
    }

    .row-element-prices {
      position: relative;
      float: left;
      width: 20%;
      height: 30px;
      white-space: normal;
      top: 50%;
      transform: translateY(20%);
      color: #76757F;

      @media all and (max-width: @screen-md-min) {
        width: 33%;
      }
    }

    .formule-row-no-decoration {
      position: relative;
      display: inline-block;
      min-width: 100%;
      margin: 10px 0 10px 0;
      top: 50%;
      transform: translateY(31%);
      .row-element-left {
        min-height: 1px;
      }
    }

    .formule-row-decorated {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: -1px -1px -1px -1px;
      border-bottom: 1px solid @gray-lighter;
      top: 50%;
      transform: translateY(31%);
    }

    .formule-row-decorated-prices {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 10px -1px -1px -1px;
      border-bottom: 1px solid @gray-lighter;
      top: 50%;
      transform: translateY(22%);
    }

    @plan-blue-color: #759CA7;
    @plan-yellow-color: #EDB62D;
    @plan-purple-color: #6F248B;

    .plan-background {
      color: @white-base;
      position: relative;
      float: left;
      width: 20%;
      height: 30px;
      padding: 8px 12px 8px 12px;
      margin-bottom: 5px;

      @media all and (max-width: @screen-md-min) {
        width: 33%;
      }
    }

    .plan-text {
      letter-spacing: 4px;
      font-size: 10px;
    }

    .blue-text {
      color: @plan-blue-color;
    }

    .blue-background {
      background-color: @plan-blue-color;
    }

    .yellow-text {
      color: @plan-yellow-color;
    }

    .yellow-background {
      background-color: @plan-yellow-color;
    }

    .purple-text {
      color: @plan-purple-color;
    }

    .purple-background {
      background-color: @plan-purple-color;
    }

    .fa-times {
      color: #C5C6C7;
    }

    .fa-check {
      color: #76757F;
    }
    .plan-period {
      color: @color-purple-1;
      font-size: 12px;
      transform: translateY(31%);
    }

    .plan-price {
      color: @color-purple-1;
      font-size: 18px;
      transform: translateY(31%);
    }

    .plan-button {
      font-weight: bold;
      background-color: #eeeeee;
      border-radius: 20px;
      border: 1px solid #C5C6C7;
      text-align: center;
      min-height: 35px;
      padding: 5px 5px 5px 5px;
      margin-left: 1%;
      margin-right: 1%;
      width: 18%;
      @media all and (max-width: @screen-md-min) {
        width: 30%;
      }
    }

    .button-blue {
      a {
        color: @plan-blue-color;
      }
    }

    .button-yellow {
      a {
        color: @plan-yellow-color;
      }
    }

    .button-purple {
      padding: 10px 5px 10px 5px;
      a {
        color: @plan-purple-color;
      }
    }
  }
}
