@import (reference) '../../../styles/config.less';

.avatar-card {
  overflow: hidden;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  min-height: 150px;
  text-align: center;
  padding: 1em 0 1em 0;
  .avatar {
    position: relative;
    display: inline-block;
    z-index: 100;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid fade(@color-indigo, 30%);
    padding: 0.3em;
    max-width: 100%;
    margin: 0 auto;
    .aspect-ratio(1, 1);
    width: 10em;
    img,
    .avatar-card__background_image {
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      bottom: 0.3em;
      right: 0.3em;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: 5px solid fade(@color-indigo, 90%);
    }
  }
  .content {
    padding: 10px;
    color: @color-indigo;
    font-family: @font-oswald;
    font-size: 1.3em;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
