@import (reference) '../../../styles/config.less';

.avatar-card {
  overflow: hidden;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  min-height: 150px;
  text-align: center;
  padding: 1em 0 1em 0;
  .avatar {
    position: relative;
    display: inline-block;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid fade(@color-indigo, 30%);
    padding: 0.3em;
    max-width: 100%;
    margin: 0 auto;
    .aspect-ratio(1, 1);
    width: 10em;
    &:after {
      opacity: 0;
      font-family: @font-material;
      content: "\f15c";
      font-size: 4em;
      top: 0;
      bottom: 0;
      position: absolute;
      left: 0;
      right: 0;
      line-height: 2.5;
      color: @brand-primary;
      .transition(opacity 0.2s linear);
    }

    &:hover {
      background-color: @color-black-2;
      .avatar-card__background_image {
        opacity: 0.3;
      }
      &:after {
        opacity: 1;
      }
    }

    img,
    .avatar-card__background_image {
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      bottom: 0.3em;
      right: 0.3em;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      //border: 5px solid fade(@color-indigo, 90%);
    }
    &.avatar-upload {
      .transition(all .2s linear);
      &:hover {
        background-color: @color-black-2;
      }
      &:hover:after {
        content: "\f28c";
      }
    }
    &.avatar-follow {
      .transition(all .2s linear);
      &:hover {
        background-color: @color-mea;
      }

      &:after {
        content: "\f278";
        line-height: 2.2;
      }

      &.followed {
        &:hover {
          background-color: @color-black-2;
        }
        &:after {
          content: "\f273";
        }
      }

    }
  }
  .content {
    padding: 10px;
    color: @color-indigo;
    font-family: @font-family-base;
    font-size: 1.3em;
    text-align: left;
    .isMobile({ text-align: center; });
    vertical-align: top;
    //&:first-letter {
    //  text-transform: uppercase;
    //}
    a,
    a:hover {
      text-decoration: underline;
      color: @color-black-2;
      cursor: pointer;
    }

    .nickname {
      pointer-events: none;
      font-family: @font-oswald;
      font-size: 1.9em;
      .isMobile({ font-size: 1.1em; });
    }
    span {
      pointer-events: none;
      display: inline-block;
      margin: 0.3em;
      b {
        padding: 0 0.3em 0 0;
        font-family: @font-heavy;
      }
    }
  }
  .btn.btn-follow_button {
    background-color: fade(@subscriber-color, 70%);
    position: relative;
    margin: 5px 5px 5px 0px;
    border-radius: @btn-radius;
    min-width: 40px;
    cursor: pointer;
    color: @brand-primary;
    font-family: @font-family-base;
    text-decoration: none;
    &:hover {
      background-color: fade(@subscriber-color, 90%);
    }
    span {
      margin: 1em;
    }
  }

  .user-bio {
    padding: @app-padding;
    background: darken(@brand-primary, 5%);
    word-wrap: break-word;
  }

}
