@import (reference) '../../../styles/config.less';

.avatar-card {
  overflow: hidden;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  min-height: 150px;
  text-align: center;
  padding: 1em 0 1em 0;
  .avatar {
    position: relative;
    display: inline-block;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid fade(@color-indigo, 30%);
    padding: 0.3em;
    max-width: 100%;
    margin: 0 auto;
    .aspect-ratio(1, 1);
    width: 10em;
    img,
    .avatar-card__background_image {
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      bottom: 0.3em;
      right: 0.3em;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: 5px solid fade(@color-indigo, 90%);
    }
    &.avatar-upload {
      .transition(all .2s linear);
      &:hover {
        background-color: @color-black-2;
        .avatar-card__background_image {
          opacity: 0.3;
        }
      }
      &:hover:after {
        font-family: @font-material;
        content: "\f28c";
        font-size: 4em;
        top: 0;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        line-height: 2.5;
        color: @brand-primary;
      }
    }
    &.avatar-follow {
      .transition(all .2s linear);
      &:hover {
        background-color: @color-mea;
        .avatar-card__background_image {
          opacity: 0.3;
        }
      }

      &:after {
        animation: toBottomFromTop 0.3s forwards;
        opacity: 0;
        font-family: @font-material;
        content: "\f278";
        font-size: 4em;
        top: 0;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        line-height: 2.5;
        color: @brand-primary;
      }

      &.followed {
        background-color: @color-black-2;
        &:after {
          content: "\f273";
        }
      }

      &:hover:after {
        opacity: 1;
      }
    }
  }
  .content {
    padding: 10px;
    color: @color-indigo;
    font-family: @font-oswald;
    font-size: 1.3em;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
