@import (reference) '../../../styles/config.less';

.life-list {

  margin: 0 auto;
  .masonry-list {
    margin: 0 auto;
  }

  @gap-brick: 10px;
  .life-player {
    margin: 0 auto;
    padding: @gap-brick
  }
  .brick {
    display: flex;
    width: 300px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    font-family: @font-oswald;
    .brick-content {
      text-align: center;
      margin: @gap-brick;
      .isMobile({ margin: 0; });
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
      position: relative;
      width: 100%;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: 100%;
      }
    }
    .brick-background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: 50% 0%;
      background-repeat: no-repeat;
      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 56.25%;
      }
      .brick-background_mask {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .gradient(fade(#000000, 20), fade(#000000, 70));
      }
    }

    &.video {
      width: 600px;
      height: 300px;
      .brick-background_mask {
        display: block;
      }
    }

    &.premium {

      .premium-flag {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        .premium-flag__header-label {
          display: inline-block;
          margin: 0 auto;
          padding: 10px;
          background-color: fade(@color-indigo, 90%);
          font-size: 1.8em;
        }
      }

    }
    &.first {
      width: 100%;
      height: 500px;
    }

    .card-body {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      color: #FFFFFF;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      a {
        color: #FFFFFF;
      }
      .card-meta {
        display: none;
        font-size: 1.2em;
      }
      .card-info {
        text-transform: uppercase;
        font-size: 2.6em;
      }
      .card-description {
        font-size: 2.1em;
      }
    }

  }
  .brick {
    .isMobile({ width: 100% !important; });
  }
}
