@import (reference) '../../../styles/config.less';

.life-community {
  .life-community-list {
    &:after {
      content: "";
      background-color: lighten(@color-black-2, 65%);
      width: 90%;
      margin: 0 auto;
      height: 1px;
    }
  }
}
