@import (reference) '../../../styles/config.less';

@keyframes rippling {

  25% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }

}

.life-sticky {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: @nav-z-header + 3;

  button:focus {
    outline: none;
  }

  button:hover {
    opacity: .8;
  }

  @pin-size: 40px;

  .fa {
    color: @brand-primary;
    &:before {
      padding: 0.1em;
      font-size: 2em;
    }
  }

  .fa-info {
    color: white;
  }

  .button-wrapper {
    width: @pin-size;
    height: @pin-size;
    position: fixed;
    top: 1em;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 50%;
  }

  button {
    width: @pin-size;
    height: @pin-size;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    z-index: 9;
    position: relative;
  }

  .main-button {
    background: @color-black-2;
    align-self: flex-end;
  }

  .ripple {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 50%;
    z-index: -9;
    background: transparent;
    border: 1px solid @color-black-2;
    transform: scale(.5);
    transition: .1s all ease;
    opacity: 1;
  }

  .rippling {
    animation: .1s rippling 1;
  }

  .layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: @pin-size;
    height: @pin-size;
    background: fade(@color-black-2, 70%);
    border-radius: 50%;
    z-index: -99;
    pointer-events: none;
  }

  .button-wrapper.clicked {
    transform: rotate(90deg) translateY(-96px);
    right: 50%;
    bottom: 50%;
    transition: .3s all ease .6s;
  }

  .button-wrapper.clicked .main-button {
    opacity: 0;
    transition: .3s all ease .3s;
  }

  .button-wrapper.clicked .layer {
    transform: scale(100);
    transition: 2.25s all ease .9s;
  }

}
