@import (reference) '../../../styles/config.less';

#page-content-wrapper .container-fluid.life-themes {
  min-height: 100%;
  //45px sub header life
  margin: (@header-height) 0 0 0;
  padding: 0 !important;
  .isMobile({ margin: (@header-height-mobile) 0 0 0; });
}

.life-themes {
  .life-theme {
    .row.theme-header {
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 0;
      margin: 0;
      //&:before {
      //  content: "";
      //  position: absolute;
      //  top: 0;
      //  bottom: 0;
      //  right: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  background: fade(@brand-primary, 70%);
      //}
      .col {
        float: none;
        margin: 0 auto;
      }
    }
  }
  .life-themes-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1:before {
      content: "";
      display: block;
      border-top: solid 1px @color-black-2;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }
  }
  .life-spot {
    display: block;
    //margin: 1em 0 1em 0;
    &.spot-banner {
      width: 100%;
    }
    &.spot-vertical {
      width: 100%;
      margin: 0 auto;
    }
  }

  .user-bio {
    margin: @app-padding;
    padding: @app-padding;
    background: @brand-primary;
  }
}
