@import (reference) '../../../styles/config.less';

@cardTypeSize: 4em;
@gap-brick: 0px;
@yUpSize: 50px;
@minBrickHeight: 500px;

// Animations
@keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes heartUnlike {
  50% {
    transform: scale(.75);
  }
}

@keyframes heartFloatMain-1 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translate(0, -25px) rotate(-20deg);
  }
}

@keyframes heartFloatMain-2 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0) scale(0);
  }
  50% {
    opacity: .9;
    transform: translate(-10px, -38px) rotate(25deg) scale(1);
  }
}

@keyframes heartFloatSub-1 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(13px, -13px) rotate(30deg);
  }
}

@keyframes heartFloatSub-2 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(18px, -10px) rotate(55deg);
  }
}

@keyframes heartFloatSub-3 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(-10px, -10px) rotate(-40deg);
  }
  100% {
    transform: translate(-50px, 0);
  }
}

@keyframes heartFloatSub-4 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(2px, -18px) rotate(-25deg);
  }
}

@keyframes brickmoveUp {
  0% {
    opacity: 0;
    .transform(translateY(500px));
  }
  100% {
    .transform(translateY(0));
    opacity: 1;
  }
}

.brick-full {
  .brick-background {
    position: absolute;
    .premium-flag {
      .premium-flag__header-label {
        width: 100%;
      }
    }
  }
  .brick-content {
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      height: 100%;
    }
  }
  .card-body {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    .card-info {
      font-size: 2.6em;
      &:after {
        content: none;
      }
    }
    .card-bubbles {
      position: relative;
      text-align: center;
      padding: 20px;
      width: 100%;
      margin: 0;
      .card-bubble {
        width: @cardTypeSize * 0.8;
        height: @cardTypeSize * 0.8;
      }
      .card-bubble-type {
        &:before {
          font-size: 1.5em;
        }
      }
    }
    .card-date,
    .card-description {
      display: none;
    }
  }
}

.life-list {
  &.flat,
    //&.virtual > div > div > div {
  &.virtual > div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  a.banner {
    width: 100%;
  }

  .life-player {
    margin: 0 auto;
    padding: @gap-brick
  }
  //HOVER EFFECT only descktop
  .isNotMobile({ .brick {
    &:not(:first-of-type) {
      &:hover {
        .pin-btn {
          visibility: visible;
          opacity: 1;
          background-color: fade(@color-black-2, 30%);
        }

        .brick-background {

          .brick-background_mask {
            background-color: fade(@color-black-2, 30%);
          }

          .premium-flag {
            .premium-flag__header-label {
              width: 100%;
            }
          }
        }
        .card-sub-info {
          opacity: 1;
          visibility: visible;
          .transform(translateY(0));
        }
      }
    }
  } });
  //END HOVER
  .brick {

    display: inline-block;
    display: flex;
    position: relative;
    width: 33.33%;
    max-width: 33.33%;
    min-height: @minBrickHeight;
    vertical-align: top;
    cursor: pointer;
    font-family: @font-oswald;
    //ZOOM TRANSITION
    //ZOOM effect
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;

    .pin-btn {
      .fullHeight();
      position: absolute;
      top: 70%;
      right: 0;
      left: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      .content {
        color: @brand-primary;
      }
      .pin-btn_icon {
        width: 6em;
        i {
          font-size: 2em;
        }
      }
    }

    .brick-content {
      .transform(translate3D(0, 0, 0));
      .transition(transform .3s ease-out, box-shadow 0.3s ease-in-out);
    }
    //END ZOOM TRANSITION

    .brick-content {
      overflow: hidden;
      text-align: center;
      margin: @gap-brick;
      .isMobile({ margin: 0; position: absolute; });
      position: absolute;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      width: 100%;
      height: 100%;
      background-color: @color-grey;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }

    .brick-background {
      .brick-background_image {
        background-position: 50% 25%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
      }
      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 56.25%;
      }
      overflow: hidden;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      .brick-background_mask {
        .transition(background 0.2s linear);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .gradient(fade(@color-black-2, 20), fade(@color-black-2, 60));
      }
    }

    &.video {
      .brick-background_mask {
        .gradient(fade(#000000, 30), fade(#000000, 70));
      }
    }

    &.premium {
      .premium-flag {
        left: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        color: @brand-primary;
        .premium-flag__header-label {
          display: inline-block;
          margin: 0 auto;
          padding: 10px;
          background-color: fade(@color-indigo, 90%);
          font-size: 1.8em;
          text-transform: capitalize;
        }
      }

    }

    &.full {
      .brick-full();
    }

    .bkdate {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      width: 65px;
      text-align: center;
      font-weight: 600;
      color: #fff;
      background-color: fade(@color-black-2, 10%);
      text-transform: uppercase;
      .day {
        font-size: 2em;
        line-height: 2em;
        border-bottom: 0.1em solid @color-black-2;
      }
      .month {
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }

    &:first-of-type {
      .card-body {
        vertical-align: middle;
      }
    }

    .card-body,
    .card-sub-info {
      position: relative;
      vertical-align: bottom;
      display: inline-block;
      color: @color-black-2;
      width: 100%;
      padding: 10px;

      .transition(all 0.5s linear);

      .card-bubbles {
        position: absolute;
        text-align: right;
        left: 0;
        right: 0;
        top: 0;
        margin-top: -@cardTypeSize / 2;
        display: inline-block;
        //z-index: @nav-z + 1;
        .card-bubble {
          position: relative;
          text-align: center;
          display: inline-block;
          border: 2px solid @brand-primary;
          width: @cardTypeSize;
          height: @cardTypeSize;
          border-radius: 50%;
          margin-right: 1em;
          background: @color-black-2;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }

        &.card-bubble-user {
        }

        .card-bubble-type {
          &:before {
            font-family: @font-awasome;
            line-height: 2;
            font-size: 2em;
            color: @brand-primary;
            position: absolute;
            left: 0;
            right: 0;
          }
          &.like {
            overflow: inherit;
            &:before {
              content: "\f08a";
            }
            &.liked:before,
            &:hover:before {
              color: @color-like;
              content: "\f004";
            }

            &.liked {
              animation: heartPulse .25s @bezier both;

              .heart {
                font-family: @font-awasome;
                color: @color-like;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 3em;
                height: 3em;
                opacity: 0;

                &::before, &::after {
                  font-family: @font-awasome;
                  color: @color-like;
                  content: "\f004";
                  background: inherit;
                  background-size: 100%;
                  width: inherit;
                  height: inherit;
                  display: inherit;
                  position: relative;
                  top: inherit;
                  left: inherit;
                  opacity: 0;
                }
              }

              @bezier: cubic-bezier(.175, .885, .32, 1.275);

              .heart-animation-1 {
                animation: heartFloatMain-1 1s @bezier both;

                &::before, &::after {
                  width: 2em;
                  height: 2em;
                  visibility: hidden;
                }
                &::before {
                  opacity: .6;
                  animation: heartFloatSub-1 1s .25s @bezier both;
                }
                &::after {
                  animation: heartFloatSub-2 1s .15s @bezier both;
                  opacity: .75;
                }
              }

              .heart-animation-2 {
                animation: heartFloatMain-2 1s .1s @bezier both;

                &::before, &::after {
                  width: 1.7em;
                  height: 1.7em;
                  visibility: hidden;
                }
                &::before {
                  animation: heartFloatSub-3 1s .25s @bezier both;
                  opacity: .25;
                }
                &::after {
                  animation: heartFloatSub-4 1s .15s @bezier both;
                  opacity: .4;
                }
              }
            }

          }
          &.pin {
            &:before {
              content: "\f08d";
            }
          }
          &.image {
            &:before {
              content: "\f030";
            }
          }
          &.video {
            &:before {
              content: "\f04b";
              padding-left: 0.2em;
            }
          }
          &.rich,
          &.audio {
            &:before {
              content: "\f001";
            }
          }
          &.article {
            &:before {
              content: "\f1ea";
            }
          }
          &.website {
            &:before {
              content: "\f0c1";
            }
          }
          &.event {
            &:before {
              content: "\f073";
            }
          }
          &.ads {
            &:before {
              content: "\f155";
            }
          }
        }
      }

      .card-meta {
        font-size: 1.2em;
        line-height: 1.3;
        display: inline-block;
        .card-theme {
          display: inline-block;
          background: @color-black-2;
          color: @brand-primary;
          padding: 5px;
          font-family: @font-oswald;
        }
      }

      .card-info {
        position: relative;
        padding: 0.5em 0 0.5em 0;
        font-size: 1.8em;
        line-height: 1.5;
        &:after {
          content: '';
          width: 3em;
          height: 1px;
          background: lighten(@color-black-2, 50%);
          bottom: 0;
          position: absolute;
          left: 50%;
          margin-left: -1.5em;
          font-family: @font-material;
        }
      }
    }

    .card-sub-info {
      position: absolute;

      .isMobile({ display: none; });

      opacity: 0;
      visibility: hidden;

      padding: 10px;
      width: 100%;
      min-height: 30%;
      max-height: 50%;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      flex-direction: column;

      background-color: @brand-primary;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);

      .transition(all 0.2s ease-out);
      .transform(translateY(100px));

      .card-description {
        padding: 1em 0 1em 0;
        font-size: 1.3em;
        font-family: @font-family-base;
        text-align: justify;
        flex: 1;
      }
      .card-date {
        padding: 1.5em;
        font-size: 1em;
        color: lighten(@color-black-2, 70%);
        &:before {
          content: '\F334';
          font-family: @font-material;
          padding-right: 5px;
        }
      }
    }

  }

  .brick {
    .isMobile({ width: 100%; max-width: 100%; });
  }

  &.hightlight-first {
    .brick {
      &:first-child {
        width: 100%;
        max-width: 100%;
        .brick-full();
        .card-body {
          .card-bubbles {
            display: none;
          }
        }
      }
    }
  }
}
