@import (reference) '../../../styles/config.less';

.life-navigation {
  font-family: @font-oswald;
  font-size: 1.8em;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  cursor: default;
  padding-top: 20px;
  float: left;
  li {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 0 0 10px 0;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      right: -10px;
      top: 0.5em;
      height: 2px;
      width: 5px;
      background: #FFFFFF;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: #FFF;
      &:hover,
      &:active {
        &:before {
          height: 3px;
          visibility: visible;
          opacity: 1;
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0;
        background: #FFFFFF;
        opacity: 0;
        visibility: hidden;
        transition: height .1s linear, opacity .1s linear;
      }

    }
  }
}
