@import (reference) '../../../styles/config.less';

.life-community-list {
  padding: @app-padding;
  .avatar-card {
  }
  .isMobile({ .col-xs-4:nth-child(3n+1) {
    clear: left;
  } });

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
