@import (reference) '../../../styles/config.less';

.toolbar-life-navigation {
  font-size: 2em;
  text-transform: uppercase;
}

.life-navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: @nav-z;
  margin-left: @sidebar-width;
  padding-top: @header-height;

  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 0px 10px, rgba(0, 0, 0, 0.2) 1px 0px 10px;
  font-family: @font-oswald;
  font-size: 1.8em;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  cursor: default;
  width: 100%;
}

.toolbar-life-navigation,
.life-navigation {
  li {
    position: relative;
    display: inline-block;
    padding: 0 10px 10px 10px;
    cursor: pointer;
    font-family: @font-oswald;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 1.5em;
      height: 2px;
      width: 5px;
      background: @color-black-2;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: @color-black-2;
      &:hover,
      &:active {
        &:before {
          height: 0.5em;
          visibility: visible;
          opacity: 1;
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0;
        background: @color-black-2;
        opacity: 0;
        visibility: hidden;
        transition: height .1s linear, opacity .1s linear;
      }

    }
  }
}
