@import (reference) '../../../styles/config.less';

#lock {
  &.gocardless {
    .panel {
      width: 380px;
      label {
        color: @color-purple-1;
        font-family: @font-book;
      }
      .header.top-header {
        border: none;
      }
      .mode {
        padding: 0 20px 0 20px;
      }
    }
    .divider {
      border-bottom: 1px solid #c6c6c6;
      margin: 15px 0 5px 0;
      .isMobile({ margin: 5px 0 5px 0; });
    }
    .cgu {
      font-size: 0.8em;
      text-align: justify;
      max-height: 50px;
      overflow: auto;
    }
  }
}
