@import (reference) '../../../styles/config.less';

@keyframes playerMovePin {
  0% {
    .transform(translate3d(0, 0, 0));
  }
  100% {
    z-index: @nav-z + 3;
  }
}

@keyframes playerMove {
  0% {
    z-index: @nav-z + 3;
  }
  100% {
    .transform(translate3d(0, 0, 0));
  }
}

.float-player {
  position: fixed;
  bottom: 0;
  left: 0;
  // *** Perf position @see https://benfrain.com/improving-css-performance-fixed-position-elements
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  // ***
  //padding: 0.5em;
  width: @sidebar-width;
  z-index: @nav-z + 3;
  .transition(all 0.35s linear);
  .animation(playerMove 0.35s ease forwards);
  &.pinned {
    .transition(none);
    .animation(playerMovePin 0.35s ease forwards);
    z-index: @nav-z;
    .wrapper {
      height: 100%;
      .afrostream-player-dimensions.vjs-fluid {
        padding: 0;
        height: 100%;
      }
    }
  }
  .player-container {
    height: 150px;
  }

  .close {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    padding: 1em;
  }
}
