@import (reference) '../../../styles/config.less';

.float-player {
  position: fixed;
  bottom: 0;
  left: 0;
  // *** Perf position @see https://benfrain.com/improving-css-performance-fixed-position-elements
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  // ***
  //padding: 0.5em;
  width: @sidebar-width;
  z-index: @nav-z;
  .player-container {
    height: 150px;
  }
}
