@import (css) '../../../../node_modules/afrostream-player/dist/afrostream-player.css';
@import (css) '../../../../node_modules/videojs-chromecast/dist/videojs-chromecast.css';
@import (reference) '../../../styles/config.less';

.koment {
  .koment-control-bar {
    margin: 5em @app-padding @app-padding @app-padding;

    .isMobile({ margin: 0 @app-padding-mobile @app-padding-mobile @app-padding-mobile; });
  }

  .koment-display {
    padding: 5em @app-padding @app-padding @app-padding;
    .isMobile({ margin: 0 @app-padding-mobile @app-padding-mobile @app-padding-mobile; });
  }

  &.koment-toggle-edit .koment-control-bar {
    margin-top: @header-height;
    top: @app-padding;
    left: @app-padding;
    right: @app-padding;
    .isMobile({ margin: 0; top: @app-padding-mobile; left: @app-padding-mobile; right: @app-padding-mobile; });
  }

}

.player {
  display: inline-block;
  background-color: #000000;
  width: 100%;
  max-height: 100%;
  .isMobile({ padding: @header-height 0 0 0; });
  &.chat-on {
    .wrapper {
      width: 70%;
      .video-js.vjs-afrostream-skin {
        .vjs-control-bar {
          margin-bottom: 0;
        }

        .vjs-fullscreen-control {
          margin-right: 0;
        }

        .vjs-play-control {
          margin-left: 0;
        }
      }
      /* SMARTPHONES  */
      .isMobile({ width: 100%; position: relative; });

      /* TABLETS  */
      .isSmallScreen({ width: 100%; position: relative; });
    }

  }
  &.player-next-reco {
    .video-infos {
      display: none;
    }
  }
  .billboard-infos {
    margin: @app-padding;
  }
  .wrapper {
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    .vjs-seeking .vjs-big-play-button {
      display: none;
    }
    .afrostream-player-dimensions {
      //resize player vertically
      width: 100%;
      height: 100%;
    }

    .vjs-error .vjs-error-display .vjs-modal-dialog-content {
      .isMobile({ font-size: 0.7em; });
      padding: @app-padding;
      &:before {
        content: none;
      }
    }
  }
  .video-infos {
    //OVERLA FIX
    //position: relative;
    display: inline-block;
    vertical-align: middle;
    bottom: @app-padding + 4em;
    left: 0;
    max-width: 350px;
    z-index: 5;
    font-family: @font-family-base;
    color: @brand-primary;
    font-size: 1em;
    line-height: 1;
    margin: @app-padding;

    > div {
      //OVERLA FIX
      position: relative;
    }

    .video-infos_label {
      font-family: @font-book;
      font-size: 1.5em;
    }
    .video-infos_title {
      font-family: @font-roman;
      font-size: 2em;
      line-height: 1.3;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
    }

    .tag {
      font-family: @font-roman;
      background-color: @color-yellow;
      text-transform: uppercase;
      font-size: 1em;
      border-radius: 2px;
      padding: 3px 8px 3px 8px;
      margin: 0 10px 0 0;
      color: @color-indigo;
      font-weight: 400;
    }
    .player-buttons {
      position: relative;
    }
    .rsr-container {
      .rsr .rating-gly-star {
        margin: 5px 0 5px 0;
      }
    }
    .csa-icon {
      margin: -15px 0 0 0;
    }
  }
  @media @mobile,@tablet {
    .video-infos {
      margin: @app-padding-mobile;
    }
  }

  .player-container {
    position: relative;
    vertical-align: middle;
    max-height: 100%;
    left: 0;

  }

  @media @mobile,@tablet {
    .player-container {
      &:before {
        content: "";
        display: block;
        position: relative;
        padding: 56.25% 0 0 0; /* (height/width)*100%, eg. 56.25% for 16:9 75% for 4:3 */
        margin: 0 0 0 -100%;
        visibility: hidden;
      }
    }
  }

  .video-js .vjs-text-track {
    background-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .video-js.vjs-afrostream-skin {

    .vjs-control-bar {
      margin-bottom: @app-padding;
    }

    .vjs-fullscreen-control {
      margin-right: @app-padding;
    }

    .vjs-play-control {
      margin-left: @app-padding;
    }

    @media @mobile,@tablet {
      .vjs-control-bar {
        margin-bottom: @app-padding-mobile;
      }

      .vjs-fullscreen-control {
        margin-right: @app-padding-mobile;
      }

      .vjs-play-control {
        margin-left: @app-padding-mobile;
      }

    }
  }
}

@media (min-width: 768px) {

  .player {
    margin: 60px auto;
    display: block;
    top: 0;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    margin: 0;
    height: 100%;
    &.player-fullScreen {
      .video-infos,
      .next-episode,
      .recommendation-list {
        z-index: 2147483647;
      }
      .video-infos {
        position: relative;
      }
    }

    .recommendation-list,
    .next-episode {
      position: absolute;
      left: 50%;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .video-infos {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 5em;
      text-align: left;
      max-width: 35%;
      max-height: 65%;
      overflow: hidden;
      &.video-infos-hidden {
        opacity: 0;
        .transition(opacity 0.2s linear);
      }
      font-size: 1.2em;
      line-height: 1.3;
      .video-infos_label {
        font-size: 2.1em;
      }
      .video-infos_title {
        font-size: 4.5em;
        .isLandscape({ font-size: 2.5em; });
      }
      &.video-infos-medium {
        .video-infos_title {
          font-size: 2.5em;
        }
      }
      &.video-infos-large {
        .video-infos_title {
          font-size: 1.7em;
        }
      }
    }

    &.player-next-reco {
      .wrapper {
        .vjs-control-bar {
          display: none;
        }
        .vjs-poster {
          background-size: cover;
        }
        width: 50%;
      }
      .video-infos {
        display: none;
      }
    }

    &.chat-on.player-next-reco {
      .wrapper,
      .fabs,
      .recommendation-list,
      .next-episode {
        width: 33%;
      }

      .recommendation-list,
      .next-episode {
        left: 33%;
      }
    }
    .wrapper {
      position: absolute;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

