@import '../../../../node_modules/afrostream-player/dist/afrostream-player.css';
@import '../../../../node_modules/afrostream-player/node_modules/videojs-chromecast/dist/videojs-chromecast.css';
@import '../../../styles/config.less';

.player {
  background-color: #000000;
  margin: 60px auto;
  width: 100%;
  max-height: 100%;
  &.player-next-reco {
    .video-infos {
      display: none;
    }
  }
  .billboard-infos {
    margin: @app-padding;
  }
  .wrapper {
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    .vjs-seeking .vjs-big-play-button {
      display: none;
    }
    .afrostream-player-dimensions {
      //resize player vertically
      width: 100%;
      height: 100%;
    }
  }
  .video-infos {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    max-width: 350px;
    z-index: 5;
    font-family: @font-family-base;
    color: @brand-primary;
    font-size: 1em;
    line-height: 1;
    margin: @app-padding;

    .video-infos_label {
      font-family: @font-book;
      font-size: 1.5em;
    }
    .video-infos_title {
      font-family: @font-roman;
      font-size: 2em;
      line-height: 1.3;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
    }

    .tag {
      font-family: @font-roman;
      background-color: @color-yellow;
      text-transform: uppercase;
      font-size: 1em;
      border-radius: 2px;
      padding: 3px 8px 3px 8px;
      margin: 0 10px 0 0;
      color: @color-indigo;
      font-weight: 400;
    }
    .player-buttons {
      position: relative;
    }
    .rsr-container {
    }
    .csa-icon {
      margin: 0;
    }
  }
  @media @mobile,@tablet {
    .video-infos {
      margin: @app-padding-mobile;
    }
  }

  .player-container {
    position: relative;
    vertical-align: middle;
    max-height: 100%;
    left: 0;
    &:before {
      content: "";
      display: block;
      position: relative;
      padding: 56.25% 0 0 0; /* (height/width)*100%, eg. 56.25% for 16:9 75% for 4:3 */
      margin: 0 0 0 -100%;
      visibility: hidden;
    }
  }

  .video-js .vjs-text-track {
    background-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .video-js.vjs-afrostream-skin {

    @media @mobile,@tablet {
      .vjs-control-bar {
        left: @app-padding-mobile;
        bottom: @app-padding-mobile;
        right: @app-padding-mobile;
      }
    }
  }
}

@media (min-width: 768px) {

  .player {
    display: block;
    top: 0;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    margin: 0;
    height: 100%;
    &.player-fullScreen {
      .video-infos,
      .next-episode,
      .recommendation-list {
        z-index: 2147483647;
      }
    }

    .video-infos {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      max-width: 35%;
      max-height: 65%;
      overflow: hidden;
      &.video-infos-hidden {
        opacity: 0;
        .transition(opacity 0.2s linear);
      }
      font-size: 1.2em;
      line-height: 1.3;
      .video-infos_label {
        font-size: 2.1em;
      }
      .video-infos_title {
        font-size: 4.5em;
      }
      &.video-infos-medium {
        .video-infos_title {
          font-size: 2.5em;
        }
      }
      &.video-infos-large {
        .video-infos_title {
          font-size: 1.7em;
        }
      }
    }

    &.player-next-reco {
      .wrapper {
        .vjs-tech {
          width: 30%;
          left: 20%;
          margin-left: -10%;
          display: inline-block;
          vertical-align: middle;
          z-index: 3;
          .transition(width 0.5s ease);
        }
        .vjs-control-bar {
          display: none;
        }
        .vjs-poster {
          display: block;
          background-position: 0% 50%;
          //background-size: cover;
        }
      }
      .video-infos {
        display: none;
      }
    }
    .wrapper {
      position: absolute;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
