@import '../../../../node_modules/afrostream-player/lib/video-js.less';
@import '../../../../node_modules/afrostream-player/lib/component/control-bar/progress-tip.less';
@import '../../../../node_modules/afrostream-player/lib/component/control-bar/bitrate-control.less';
@import '../../../../node_modules/afrostream-player/lib/component/control-bar/audio-tracks.less';
@import '../../../../node_modules/afrostream-player/lib/component/loading-spinner.less';
@import '../../../../node_modules/afrostream-player/lib/component/error-screen.less';
@import '../../../../node_modules/afrostream-player/lib/afrostream-player.less';
@import '../../../styles/config.less';

@slider-bar-pattern: ~'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC';
@control-bg-color: #07141E;
// e.g. rgb(255, 255, 255) or #ffffff
@control-bg-alpha: 0.7;
// 1.0 = 100% opacity, 0.0 = 0% opacity
@big-play-border-width : 0.1em;
@big-play-border-radius: 100%;
@big-play-bg-color: @color-indigo;
@big-play-bg-alpha: @control-bg-alpha;
@big-play-border-color: @brand-primary;
@big-play-font-size: 3em;
@base-font-size: 1.3em;
@big-play-width: 3em;
@big-play-height: 3em;
@vjs-font-path: 'font/';

.player {
  background-color: #000000;
  margin: 60px auto;
  width: 100%;
  max-height: 100%;

  .wrapper {
    position: relative;
    //display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  .video-infos {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    max-width: 350px;
    z-index: 5;
    font-family: @font-family-base;
    color: @brand-primary;
    font-size: 1em;
    line-height: 1;
    margin: @app-padding;

    .video-infos_label {
      font-family: @font-book;
      font-size: 1.5em;
    }
    .video-infos_title, .video-infos_episode {
      font-family: @font-roman;
      font-size: 2em;
      line-height: 1;
      text-transform: uppercase;
    }
    .video-infos_episode {
      font-size: 1.4em;
    }
  }
  @media @mobile,@tablet{
    .video-infos {
      margin: @app-padding-mobile;
    }
  }
  .player-container {
    position: relative;
    //display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    left: 0;
    &:before {
      content: "";
      display: block;
      position: relative;
      padding: 56.25% 0 0 0; /* (height/width)*100%, eg. 56.25% for 16:9 75% for 4:3 */
      margin: 0 0 0 -100%;
      visibility: hidden;
    }
  }

  .video-js .vjs-text-track {
    background-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .video-js.vjs-afrostream-skin {

    @media @mobile,@tablet{
      .vjs-control-bar {
        left: @app-padding-mobile;
        bottom: @app-padding-mobile;
        right: @app-padding-mobile;
      }
    }
  }
}

@media (min-width: 768px) {

  .player {
    display: block;
    top: 0;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    margin: 0;
    height: 100%;
    .video-infos {
      display: inline-block;
      vertical-align: middle;
      width: 300px;
      max-width: 50%;
      &.video-infos-hidden {
        opacity: 0;
        .transition(opacity 0.2s linear);
      }
      font-size: 1.2em;
      line-height: 1.3;
      .video-infos_label {
        font-size: 2.1em;
      }
      .video-infos_title {
        font-size: 4.5em;
      }
      .video-infos_episode {
        font-size: 2em;
      }
    }
    .wrapper {
      position: absolute;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
