@import (reference) '../../../styles/config.less';

.browse-genre_page {
  padding: @header-height 0 0 0;
  .browse-categorie_list {
    position: relative;
    background-color: @brand-thumbs;
    width: 100%;
    padding: @thumb-margin 0 @thumb-margin 0;
    .browse-categorie_list_label {
      font-size: 2em;
      font-family: @font-thin;
      text-transform: uppercase;
      margin: 10px @app-padding 10px @app-padding;
      .isMobile({ margin: 10px @app-padding-mobile 10px @app-padding-mobile; });
    }

    .movies-data-list.spots {
      .movies-list__selection {
        font-size: 2.7em;
      }
    }
    .thumb {
      .isMobile({ width: 50%; });
      &.spot {
        .thumb-background {
          padding-top: 68.5%;
        }
      }
    }
  }
}
