@import (reference) '../../../styles/config.less';

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 4em;
  line-height: 1;

  width: 2em;
  height: 2em;

  margin-left: -1em;
  margin-top: -1em;
  opacity: 1;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    text-align: center;
    text-shadow: none;
  }
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }
  @keyframes color {
    100%, 0% {
      stroke: @color-yellow;
    }
    40% {
      stroke: @color-indigo;
    }
    66% {
      stroke: @color-purple;
    }
    80%, 90% {
      stroke: @color-yellow;
    }
  }
}
