@import (reference) '../../../styles/config.less';

.reset-page {
  margin: 0;
  .fullHeight();
  background-image: url(../../../assets/images/login/login.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .auth-container {
    padding: 150px 0 150px 0;
    vertical-align: middle;
    margin: 0;
    #reset-container {
      display: block;
      position: relative;
      text-align: center;
      margin: 0 auto;
      width: 280px;
    }
  }
}
