@import (reference) './config.less';

.arrow {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50px;
  z-index: 3;
  top: 50%;
  opacity: 1;
  margin-top: -40px;
  transition: transform ease-out 0.1s;
  &:before {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: @color-purple;
    border-radius: 50px;
    transition: height ease-in-out 0.1s, width ease-in-out 0.1s, transform ease-in-out 0.1s;
  }
  &:hover {
    &:before {
      transform: scale(1.2);
      transition: height ease-in-out 0.1s, width ease-in-out 0.1s, transform ease-in-out 0.1s;
    }
  }
  i {
    position: relative;
    z-index: 3;
    font-size: 6em;
    line-height: 1.3;
  }
}

.arrow--hidden {
  transition: transform ease-in 0.1s;
}

.arrow--left {
  &:after {
  }
  left: -20px;
  i {
    padding-left: 30px;
  }
  &.arrow--hidden {
    transform: translateX(-100%);
  }
}

.arrow--right {
  &:after {
  }
  right: -20px;
  i {
    padding-left: 25px;
  }
  &.arrow--hidden {
    transform: translateX(100%);
  }
}

@media (min-width: 768px) {
  .arrow {
    display: block;
  }
}
