@import (reference) './config.less';

.arrow {
  display: none;
  .isWideScreen({ display: block });
  width: 80px;
  //height: 80px;
  height: 100%;
  position: absolute;
  //border-radius: 50px;
  z-index: 3;
  opacity: 1;

  transition: transform ease-out 0.1s;
  &:before {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: @color-purple;
    //border-radius: 50px;
  }
  &:hover {
    &:before {
      transform: scale(1.2);
      transition: height ease-in-out 0.1s, width ease-in-out 0.1s, transform ease-in-out 0.1s;
    }
  }
  i {
    transition: height ease-in-out 0.1s, width ease-in-out 0.1s, transform ease-in-out 0.1s;
    position: relative;
    z-index: 3;
    font-size: 6em;
    line-height: 1.3;
    top: 50%;
    margin-top: -40px;
    color: @color-indigo;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
}

.arrow--hidden {
  transition: transform ease-in 0.1s;
}

.arrow--left {
  &:after {
  }
  &:before {
    .horizontal-gradient-inverse(transparent, 0%, @brand-thumbs, 80%);
  }
  left: -20px;
  i {
    padding-left: 30px;
  }
  &.arrow--hidden {
    //i {
    transform: translateX(-100%);
    //}
  }
}

.arrow--right {
  &:after {
  }
  &:before {
    .horizontal-gradient(transparent, 0%, @brand-thumbs, 80%);
  }
  right: -20px;
  i {
    padding-left: 25px;
  }
  &.arrow--hidden {
    //i {
    transform: translateX(100%);
    //}
  }
}

//progress scroll indicator

/* Progress Tracker */
.progress-tracker {
  position: absolute;
  top: 0;
  right: @app-padding / 2;
  opacity: 1;
  //visibility: visible;
  .transition(all 0.2s linear);
}

.progress-tracker.progress-hidden {
  opacity: 0;
  //visibility: hidden;
  .transition(all 0.3s linear);
  .transition-delay(2s);
}

.progress-tracker.hide ul li .pt-description,
.progress-tracker.hide.active ul li .pt-description,
.progress-tracker.hide.constant ul li.active .pt-description {
  display: none;
}

.progress-tracker ul li {
  width: 10px;
  height: 3px;
  position: relative;
  background-color: fade(@color-indigo, 20%);
  list-style-type: none;
  float: left;
  margin: 0 5px 0 0;
}

.progress-tracker ul li.active {
  background-color: fade(@color-indigo, 70%);
  .transition(background 0.3s linear);
}
