@import (reference) "./config";
@import "./auth/main.less";

/*=======================================
=            Widget Gradient            =
=======================================*/
@popup-padding: 30px;
@line-separator-color: #c6c6c6;
@popup-radius: 1px;
@popup-bg-alpha: 50%;
@pannel-padding: 0px;

#lock.theme-default,
#widget {

  &.lock.player {
    position: fixed;
    background: none;
  }

  .overlay {
    background: @background-color-base;
    background: fade(@background-color-base, @popup-bg-alpha);
  }

  .panel {
    font-family: @font-family-base;
    background: lighten(@color-grey, 5%);
    color: @brand-label;
    border-radius: @popup-radius;

    max-height: 90%;
    overflow: auto;

    .mode {
    }
    &.medium {
      width: 50%;
    }
    &.large {
      width: 80%;
    }
    .header.top-header {
      h1 {
        font-family: @font-family-base;
        font-weight: 500;
      }
      //border-bottom: 1px solid @line-separator-color;
      margin: 0 @popup-padding 0 @popup-padding;
    }

    .close {
      color: @color-black-2;
      :hover {
        color: @color-black-2;
      }
    }
    .icon-container {
      height: auto;
      .avatar {
      }

      .avatar i {
        color: @color-purple;
      }
    }

    .inputs {
      border-color: rgba(0, 0, 0, 0.4);
    }

    .email input, .password input, .repeatPassword input {
      background: rgba(255, 255, 255, .9);
      color: black;

    }

    .zocial.block {
      border-radius: @btn-radius;
    }

    button.primary {
      background: fade(@subscriber-color, 80%);
      border-radius: @btn-radius;
      width: 80%;
      color: @brand-primary;
      font-family: @font-family-base;
      padding: 12px 10px;
      &:hover {
        background: @subscriber-color;
      }
    }

    .btn-small {
      border-color: rgba(255, 255, 255, 0.2);
    }

    .btn-small:hover {
      border-color: white;
      background: none;
    }
    .mode-container {
      .loggedin.mode {
        padding: 0 @popup-padding 0 @popup-padding;
      }
    }
    .footer {
      .logo {
        display: none;
        i {
          color: white;
        }
      }
    }

  }

}

@media screen and (max-width: 480px) {

  #lock .popup .overlay,
  #widget .popup .overlay {
    .panel {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .centrix,
    .onestep,
    .mode-container {
      width: 100%;
      height: 100%;
    }
    .email input, .username input, .password input, .repeatPassword input {
      max-width: 100%;
    }
  }

}

