@import "../../node_modules/lesshat/build/lesshat";
@import "./mixins";
@import "./fonts";
@import "./box-sizing";
@import "./themes";

@zmdi-font-path: "../../../src/assets/fonts";
@md-font-path: "../../../src/assets/fonts";

@menu-open-duration: 0.2s;
//
// Colors
// -----------------------------------------------------------------------------

@white-base: hsl(255, 255, 255);

@gray-base: hsl(0, 0, 0);
@gray-darker: lighten(@gray-base, 13.5%);
// #222
@gray-dark: lighten(@gray-base, 25%);
// #404040
@gray: lighten(@gray-base, 33.5%);
// #555
@gray-light: lighten(@gray-base, 46.7%);
// #777
@gray-lighter: lighten(@gray-base, 93.5%);
// #eee

@color-yellow: #ffc809;
@color-yellow-darker: #e5b508;
@color-grey: #edefed;
@color-black: #000000;
@color-black-2: #131313;
@color-indigo: #17071d;
@color-thumbs: #17071d;
@color-purple: #281430;
@color-purple-1: #663774;
@color-purple-2: #9952AE;
@color-purple-3: #522575;
@color-mea: #3498db;
@color-like: #ff0f20;
@color-purple-transparent: rgba(102, 55, 116, 0.5);

@subscriber-color: @color-mea;

@brand-grey: #e0e0e0;
@brand-warn: #F88C03;
@brand-error: #ff3f34;
@brand-primary: #FFFFFF;
@brand-secondary: #C2C2CA;
@brand-black: #2a1533;
@brand-label: @color-indigo;
@brand-bg: #FFFFFF;
@brand-grey: @color-grey;
@brand-footer: #b1b1b1;
@brand-thumbs: @color-grey;

// set the primary color palette for this theme
@background-color-base: @color-black-2;
@background-footer: lighten(@color-black-2, 3%);
@background-page: @color-black-2;

@btn-radius: 2px;

@brand-success: @color-indigo;

.progress-bar {
  background: @color-purple-2;
}

//PLANS COLORS

@plan-blue-color: #759CA7;
@plan-yellow-color: #EDB62D;
@plan-purple-color: #6F248B;
@plan-red-color: #e2212a;
@plan-background-color: #f6f6f6;

//@grid-columns: 20;

//
// Layout
// -----------------------------------------------------------------------------

@thumb-margin: 10px;
@thumb-width: 240px;
@thumb-height: 340px;
@thumb-width-episode: 210px;
@thumb-height-episode: 120px;
@thumb-width-adspot: 480px;
@thumb-height-adspot: (@thumb-height + @thumb-margin)  * 2;
@thumb-width-pin: 620px;
@thumb-height-pin: 340px;
@thumb-width-user: 140px;
@thumb-height-user: 140px;

@nav-z: 1030;
@nav-z-header: @nav-z + 6;
@max-content-width: 1280px;
@app-padding: 10px;
@app-padding-mobile: 10px;
@footer-height: 150px;
@header-height: 50px;
@header-height-mobile: 50px;
@sub-navigation-height: 50px;
@sub-navigation-height-mobile: @sub-navigation-height;
@sidebar-width: 250px;

@tour-overlay-z: 1000000;
@welcome-header-height: 100vh;
//
// Media queries breakpoints
// -----------------------------------------------------------------------------

@screen-xs-min: 480px;
// Extra small screen / phone
@screen-sm-min: 768px;
// Small screen / tablet
@screen-md-min: 992px;
// Medium screen / desktop
@screen-lg-min: 1200px;
@highdensityTablet: ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)",
~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (min--moz-device-pixel-ratio: 2)",
~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (min-device-pixel-ratio: 2)";
// Large screen / wide desktop
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl: ~"only screen and (min-width: 1129px)";

//
// Animations
// -----------------------------------------------------------------------------

@animation-swift-out: .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

@thumb-margin: 10px;
