@import './for';

/**
 * Font-face mixin
 *
 * @param {String} family
 * @param {String} weight | Default: normal
 * @param {String} style | Default: normal
 */
.font-face(@family, @weight: normal, @style: normal) {
  @font-face {
    font-family: @family;
    src: url('../assets/fonts/@{family}.ttf') format('truetype');
    font-weight: @weight;
    font-style: @style;
  }
}

/* Fonts list array */
@fonts: 'DIN-30640-Std',
'DINBLACK',
'DINBOLD',
'FtraBd',
'FtraBk',
'FtraBkI',
'FtraHv',
'FtraLt',
'fueb__',
'ful___lh';

/* Call .font-face() mixin for each font from @fonts array */
//.-(@i: length(@fonts)) when (@i > 0) {
//  @font: e(extract(@fonts, @i));
//  .font-face(@font);
//  .-((@i - 1));
//} .-;

.for(@fonts);
.-each(@value) {
  .font-face(@value);
}

//
// Typography
// -----------------------------------------------------------------------------

@font-family-base: 'DIN-30640-Std', Helvetica, Arial, 'Lucida Grande', sans-serif;
@font-light: "FtraLt", Helvetica, sans-serif;
@font-thin: "ful___lh", Helvetica, sans-serif;
@font-medium: "fueb__", Helvetica, sans-serif;
@font-bold: "FtraBd", Helvetica, sans-serif;
@font-heavy: "FtraHv", Helvetica, sans-serif;
@font-roman: "DIN-30640-Std", Helvetica, sans-serif;
@font-black: "FtraBk", Helvetica, sans-serif;

.body-font() {
  font-family: @font-family-base;
  line-height: 1;
}