@import ( reference ) './for';
@import (less) '../../node_modules/material-design-iconic-font/less/material-design-iconic-font.less';
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Oswald);

/**
 * Font-face mixin
 *
 * @param {String} family
 * @param {String} weight | Default: normal
 * @param {String} style | Default: normal
 */
.font-face(@family, @weight: normal, @style: normal) {
  @font-face {
    font-family: @family;
    src: url('../assets/fonts/@{family}.ttf') format('truetype');
    font-weight: @weight;
    font-style: @style;
  }
}

/* Fonts list array */
@fonts: 'DIN-30640-Std',
'FtraBd',
'FtraBk',
'FtraBkI',
'FtraHv',
'FtraLt',
'FtraLh',
'Futura';

.for(@fonts);
.-each(@value) {
  .font-face(@value);
}

//
// Typography
// -----------------------------------------------------------------------------

@font-family-base: 'Open Sans', 'DIN-30640-Std', Helvetica, Arial, 'Lucida Grande', sans-serif;
@font-oswald: 'Oswald', Helvetica, Arial, 'Lucida Grande', sans-serif;
@font-light: "FtraLt", Helvetica, sans-serif;
@font-thin: "FtraLh", Helvetica, sans-serif;
@font-book: "FtraBk", Helvetica, sans-serif;
@font-heavy: "FtraHv", Helvetica, sans-serif;
@font-roman: "Futura", Helvetica, sans-serif;
@font-black: "FtraBd", Helvetica, sans-serif;
@font-material: "Material-Design-Iconic-Font";

.body-font() {
  font-family: @font-family-base;
  line-height: 1;
}

.zmdi {
  &.zmdi-bouygues {
    background-image: url(../assets/images/strategy/bouygues-strategy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 3em;
    height: 1.5em;
    &:before {
      content: '';
    }
  }
  &.zmdi-orange {
    background-image: url(../assets/images/strategy/orange-strategy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 3em;
    height: 1.5em;
    &:before {
      content: '';
    }
  }
}
