.thumbs-enter {
  opacity: 0.01;
}

.thumbs-enter.thumbs-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.thumbs-leave {
  opacity: 1;
}

.thumbs-leave.thumbs-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
