.thumbs-enter {
  opacity: 0.01;
}

.thumbs-enter.thumbs-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.thumbs-leave {
  opacity: 1;
}

.thumbs-leave.thumbs-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

//==== page-transition
.animation-container {
  //display: inline-block;
  width: 100%;
}

.page-transition-enter {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0);
  .row-fluid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  .row-fluid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page-transition-leave {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  .row-fluid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
  transform: translate(250px, 0);
  transform: translate3d(250px, 0, 0);
  .row-fluid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.authmode-enter {
  position: fixed; // Fix Firefox/IE scrollbar display on translateY
  width: 100%;
  height: 100%;
  opacity: 0;
  .auth-container > span {
    display: block;
    transform: translateY(100%);
  }
}

.authmode-enter.authmode-enter-active {
  opacity: 1;
  transition: all 2s linear 0.3s;
  .auth-container > span {
    transform: translateY(0%);
    transition: transform 1.8s ease-in-out 0s;
  }
}
