<!DOCTYPE html>
<html data-cast-api-enabled="true">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title data-react-helmet="true">Afrostream.tv Final Callback Iframe</title>
</head>
<body>

<div id="main">
  <script type="text/javascript">

    if (window.opener) {
      window.opener.focus();
    }

    var serverResponse = {{{json data}}};
    try {
      serverResponse = JSON.parse(atob(location.hash && location.hash.substr(1)))
    } catch (e) {
      console.log('error parsing response : ', e)
    }

    // postpone close :
    //  we let 200ms to mobile app to catch the document.location.href change
    setTimeout(function () {
      try {
        var oppener = window.parent || window.opener
        oppener.postMessage(serverResponse, '*'); //send the message and target URI
      } catch (e) { /* Blocked a frame with origin X from accessing a frame with origin Y */
        console.log('error postmessage : ', e)
      }
    }, 200); // enough ?

  </script>
  FIXME
</div>
</body>
</html>
