@import (reference) '../../../styles/config.less';

.countdown-wrapper {
  margin-bottom: 24px;
  text-align: center;
  margin-bottom: 24px;
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .countdown-content {
    position: relative;
    .countdown-img,
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .countdown-img {
      cursor: pointer;
      &:after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: fade(#000000, 30%);
      }
    }
    .subscribe-button {
      font-size: 2em;
      background-color: fade(@plan-red-color, 90%);
      border: 1px solid fade(@plan-red-color, 90%);
    }
  }

  .countdown-timer {
    font-size: 40px;

    background-color: fade(@plan-red-color, 90%);
    color: white;
    padding-top: 8px;
    padding-bottom: 12px;

    .countdown-number-row, .countdown-text-row {
      display: flex;
      align-items: baseline;
      flex-flow: row-wrap;

      span {
        flex: 1;
      }
    }

    .countdown-number-row {
      font-size: 24px;

      > span {
        font-family: @font-heavy;
      }

      .countdown-text-unit {
        font-size: 16px;
        text-transform: uppercase;
        font-family: @font-book;

        &.countdown-prez {
          font-family: @font-book;
          flex: 3;
        }
      }
    }

    .countdown-text-row {
      font-size: 16px;
      text-transform: uppercase;
    }

    .event-available-text {
      margin-top: 24px;
      font-size: 28px;
    }
  }
}

@media @mobile {
  .countdown-wrapper {

    .countdown-content {
      .subscribe-button {
        position: relative;
        left: inherit;
        margin: 0;
        bottom: 0;
      }
    }

    .countdown-timer {
      font-size: 18px;

      .countdown-number-row {
        font-size: 18px;

        .countdown-text-unit {
          font-size: 14px;
          &.countdown-prez {
            &:first-of-type {
              flex: 2;
            }
            &:last-of-type {
              display: none;
            }
            flex: 4;
          }
        }
      }
    }
  }
}

@media @tablet {
  .countdown-wrapper {

    .countdown-content {
      .subscribe-button {
        position: relative;
        left: inherit;
        margin: 0;
        bottom: 0;
      }
    }

    .countdown-timer {
      font-size: 18px;

      .countdown-number-row {
        font-size: 18px;

        .countdown-text-unit {
          font-size: 14px;
          &.countdown-prez {
            &:first-of-type {
              flex: 2;
            }
            flex: 3;
          }
        }
      }
    }
  }
}

@media @desktop {
  .countdown-wrapper {
    .countdown-timer {
      font-size: 18px;

      .countdown-number-row {
        font-size: 18px;

        .countdown-text-unit {
          &.countdown-prez {
            flex: 4;
          }
        }
      }
    }
  }
}

@media @desktop-xl {
  .countdown-wrapper {
    .countdown-timer {
      .countdown-number-row {
        font-size: 30px;
        .countdown-text-unit {
          &.countdown-prez {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.welcome-page {
  .countdown-wrapper {
    margin: 0;
    cursor: pointer;
  }
  @media @desktop-xl {
    .countdown-wrapper {
      .countdown-timer {
        .countdown-number-row {
          font-size: 42px;
          .countdown-text-unit {
            &.countdown-prez {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}

article {
  .countdown-wrapper {
    display: flex;
    flex-direction: column-reverse;
    .countdown-timer {
      width: 100%;
      .countdown-number-row {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .countdown-content {
      height: 250px;
      width: 100%;
      padding: 1em;
      .discount-statement {
        flex-direction: column;
        align-items: center;
        .isMobile({ font-size: 1em; });
      }
      .subscribe-button {
        .isMobile({ font-size: 0.7em; padding: 0; });
      }
    }
  }
}

.countdown-wrapper {
  .subscribe-button {
    font-size: 1.4em;
  }
  .countdown-content {
    .isMobile({ height: 250px; });
  }
}

@media @desktop-xl {
  .countdown-wrapper {
    height: 500px;
    display: flex;
    .countdown-timer {
      width: 50%;
      .countdown-number-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
    }
    .countdown-content {
      width: 100%;
    }
  }
}
