@import (reference) '../../../styles/config.less';

.sendbird_button {
  background-color: fade(@color-indigo, 70%);
  position: relative;
  margin: 5px 5px 5px 0px;
  &.active {
    color: @color-yellow;
  }
  &:hover {
    color: @color-yellow;
  }
  span {
    margin: 1em;
  }
}
