.btn-thumb {
  background: @brand-bg;
  color: @color-purple-1;
}

.btn-thumb:hover, .btn-thumb:focus, .btn-thumb:active, .btn-thumb.active, .open > .dropdown-toggle.btn-thumb {
  background: @brand-bg;
  color: @color-purple-1;
  opacity: 0.8;
}

.btn-thumb:active, .btn-thumb.active {
  background: @brand-bg;
}

.btn-xs.btn-thumb {
  font-size: 1.2em;
  margin: 10px;
}