@import (reference) '../../../styles/config.less';

.recommendation-list {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  bottom: 0;
  padding: @thumb-margin 0 @thumb-margin 0;
  .horizontal-gradient(transparent, 0%, @color-indigo, 30%);
  &:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .recommendation-list__content {
    display: inline-block;
    vertical-align: middle;
    margin: @thumb-margin @app-padding @thumb-margin @app-padding;
    .isMobile({ margin: @thumb-margin @app-padding-mobile @thumb-margin @app-padding-mobile; });
    .recommendation-list__label {
      font-size: 2em;
      font-family: @font-family-base;
      text-transform: uppercase;
    }
    .recommendation-list__info {
      font-size: 1.4em;
      font-family: @font-book;
    }
    .recommendation-list__thumbs {
      margin-left: -@thumb-margin;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      .thumb {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
      }
    }

    .reco-buttons {
      .reco_button {
        background-color: fade(@color-indigo, 70%);
        position: relative;
        margin: 5px 5px 5px 0px;
        &.active {
          color: @color-yellow;
        }
        &:hover {
          color: @color-yellow;
        }
      }

    }

  }
}
