@import (reference) '../../../styles/config.less';

.afrostream-monthly-message {
  background-color: #EEEEEE;
  height: 100%;

  .header {
    background-color: #261930;
    position: relative;
    display: block;
    width: 100%;
    height: 90px;

    img {
      display: block;
      margin: auto;
      transform: translateY(80%);
      max-width: 150px;
    }
  }

  .message-container {
    color: #453050;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 180px 30px 30px 45px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;

    h3 {
      margin-bottom: 30px;
    }

    .logout-button {
      margin-top: 20px;
      font-weight: bold;
      background-color: #F0C530;
      color: #000000;
      padding: 10px 20px 10px 20px;
      border-radius: 20px;
      border: none;
    }
  }
}