@import (reference) '../../../styles/config.less';

@thumb-margin: 10px;
@thumb-margin-hover: 50px;
@thumb-width: 140px;
@thumb-height: 200px;
@zoom-margin: 50px;

.enter-payment-details {
  color: #452F50;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 20px;
  width: 40%;
  font-size: 24px;
  border-bottom: 1px solid #452F50;
  text-align: center;
}

.payment-form {
  background-color: #eeeeee;
  color: #6F248B;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 30px 45px;
  width: 60%;
  font-size: 12px;
  text-align: center;

  .name-details {
    color: #6F248B;
    font-size: 18px;
  }

  .last-name {
    margin-bottom: 20px;
  }

  .payment-details {
    color: #6F248B;
    font-size: 18px;
  }

  .coupon-code-details {
    margin-top: 20px;
    color: #6F248B;
    font-size: 18px;
  }

  .card-country {
    margin-top: 15px;
  }

  .button-create-subscription {
    font-weight: bold;
    background-color: #6F248B;
    color: #eeeeee;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: 1px solid #C5C6C7;
  }
}