@import (reference) '../../../styles/config.less';

@thumb-margin: 10px;
@thumb-margin-hover: 50px;
@thumb-width: 140px;
@thumb-height: 200px;
@zoom-margin: 50px;

.choose-plan {
  color: #452F50;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 82%;
  font-size: 24px;
}

.select-plan {
  background-color: @white-base;
  color: #6F248B;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 30px 45px;
  width: 82%;
  font-size: 12px;
  text-align: center;

  .row-element-left {
    position: relative;
    float: left;
    width: 40%;
    height: 30px;
    white-space: normal;
    top: 50%;
    transform: translateY(31%);
    text-align: left;
    font-weight: bold;
  }

  .row-element-left-header {
    position: relative;
    float: left;
    width: 40%;
    height: 30px;
    white-space: normal;
    top: 50%;
    //transform: translateY(31%);
    text-align: left;
    padding: 8px 12px 8px 12px;
    margin-bottom: 5px;
  }

  .row-element-left-header-shim {
    position: relative;
    float: left;
    width: 2%;
    height: 30px;
    white-space: normal;
    top: 50%;
    //transform: translateY(31%);
    text-align: left;
    padding: 8px 12px 8px 12px;
    margin-bottom: 5px;
  }

  .row-element-left-twolines {
    position: relative;
    float: left;
    width: 40%;
    height: 30px;
    white-space: normal;
    top: 50%;
    transform: translateY(31%);
    text-align: left;
    font-weight: bold;
  }

  .row-element {
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    white-space: normal;
    top: 50%;
    transform: translateY(31%);
    color: #76757F;
  }

  .row-element-prices {
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    white-space: normal;
    top: 50%;
    transform: translateY(20%);
    color: #76757F;
  }

  .formule-row-no-decoration {
    position: relative;
    display: inline-block;
    min-width: 100%;
    margin: -1px -1px -1px -1px;
    //min-height: 12px;
    top: 50%;
    transform: translateY(31%);
  }
  
  .formule-row-decorated {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: -1px -1px -1px -1px;
    border-bottom: 1px solid @gray-lighter;
    top: 50%;
    transform: translateY(31%);
  }

  .formule-row-decorated-prices {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px -1px -1px -1px;
    border-bottom: 1px solid @gray-lighter;
    top: 50%;
    transform: translateY(22%);
  }

  .blue-text {
    color: #759CA7;
    letter-spacing: 4px;
    font-size: 10px;
  }

  .blue-background {
    background-color: #759CA7;
    color: @white-base;
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    padding: 8px 12px 8px 12px;
    margin-bottom: 5px;
  }

  .yellow-text {
    color: #EDB62D;
    letter-spacing: 4px;
    font-size: 10px;
  }

  .yellow-background {
    background-color: #EDB62D;
    color: @white-base;
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    padding: 8px 12px 8px 12px;
    margin-bottom: 5px;
  }

  .purple-text {
    color: #6F248B;
    letter-spacing: 4px;
    font-size: 10px;
  }

  .purple-background {
    background-color: #6F248B;
    color: @white-base;
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    padding: 8px 12px 8px 12px;
    margin-bottom: 5px;
  }

  .fa-times {
    color: #C5C6C7;
  }

  .fa-check {
    color: #76757F;
  }
  .plan-period {
    color: #6F248B;
    font-size: 12px;
    transform: translateY(31%);
  }

  .plan-price {
    color: #6F248B;
    font-size: 18px;
    transform: translateY(31%);
  }

  .button-blue {
    font-weight: bold;
    color: #759CA7;
    background-color: #eeeeee;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: 1px solid #C5C6C7;
  }

  .button-yellow {
    font-weight: bold;
    color: #EDB62D;
    background-color: #eeeeee;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: 1px solid #C5C6C7;
  }

  .button-purple {
    font-weight: bold;
    color: #6F248B;
    background-color: #eeeeee;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: 1px solid #C5C6C7;
  }
}