@import (reference) '../../../styles/config.less';

.welcome-page {
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(red(@color-purple), green(@color-purple), blue(@color-purple), 0.2);
  }
}
