@import (reference) '../../../styles/config.less';

.welcome-page {
  background-color: @background-color-base;
  .mode-container {
    .isNotMobile({ width: 50%; });
    margin: 0 auto;
    padding: @header-height;
  }
  .plan-container {
    padding: 3em;
    .isMobile({ padding: 0; });
  }
  .slide-show {
    padding: 0;
    //display: flex;
  }

  .welcome-slider {
    position: relative;
    width: 100%;
    .slick-slide {
      position: relative;
    }
    .welcome-slider-item {
      height: 400px;
      .isMobile({ height: 660px; });
      .welcome-slider_img {
        .transition(opacity 0.3s, linear);
        position: absolute;
        .fullHeight();
        bottom: 0;
        right: 0;
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
