@import (reference) '../../../styles/config.less';

.welcome-page {
  background-color: @background-color-base;
  .mode-container {
    .isNotMobile({ width: 50%; });
    margin: 0 auto;
  }
  .plan-container {
    padding: 3em;
    .isMobile({ padding: 0; });
  }
}
