@import (reference) '../../../styles/config.less';

.btn.share_button {
  background-color: fade(@color-indigo, 70%);
  position: relative;
  margin: 5px 5px 5px 0px;
  border-radius: @btn-radius;
  min-width: 40px;
  &.active {
    color: @color-yellow;
  }
  &:hover {
    color: @color-yellow;
  }
  span {
    margin: 1em;
  }
  .btn-label {
    .isMobile({ display: none; });
  }
}
