@import (reference) '../../../styles/config.less';

.share_button {
  background-color: fade(@color-indigo, 70%);
  position: relative;
  &.active {
    color: @color-yellow;
  }
  &:hover {
    color: @color-yellow;
  }
}
