@import (less) '../../../node_modules/normalize.css/normalize.css';
@import (less) '../../../node_modules/bootstrap/less/bootstrap';
@import '../../styles/normalize.less';
@import '../../styles/config.less';

//
// Base styles
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #main, #main > div {
  height: 100%;
  background-color: #ffffff;
}

body {
  background-color: @background-page;
  margin-bottom: @footer-height;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.4;
  color: @brand-primary;
  .body-font();
}

.app {
  //> .container-fluid {
  //  display: table;
  //  table-layout: fixed;
  //  height: 100%;
  //  width: 100%;
  //  .row-fluid {
  //    display: table-cell;
  //    float: none;
  //    width: 100%;
  //    height: 100%;
  //  }
  //}
  > .container-fluid {
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 0;
    &:before {
      content: none;
    }
    .row-fluid {
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%;
      .container {
        margin-top: @header-height;
        padding: 40px;
        background: @background-page;
        min-height: 100%;
      }
    }
  }
  //> .container-fluid {
  //  height: 100%;
  //  display: table;
  //  width: 100%;
  //  padding: 0;
  //}
  //
  //.row-fluid {
  //  height: 100%;
  //  display: table-cell;
  //  vertical-align: middle;
  //}
}

//
// Base styles
// -----------------------------------------------------------------------------

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
  color: @brand-primary;
}

a {
  color: @brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken(@brand-primary, 10%);
  text-decoration: underline;
}

.fa-2x {
  font-size: 1.3em;
}