@import (less) '../../../node_modules/bootstrap/less/bootstrap.less';
@import '../../styles/normalize.less';
@import '../../styles/config.less';
@import '../../styles/aut0-theme-afrostream.less';
@import '../../styles/transition.less';

//
// Base styles
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  -webkit-tap-highlight-color: transparent;
}

html, body, #main, #main > div {
  height: 100%;
  //background-color: #ffffff;
}

body {
  background-color: @background-page;
  //margin-bottom: @footer-height;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.4;
  color: @brand-primary;
  .body-font();
}

//@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
//  body {
//    transform: translateZ(0);
//    backface-visibility: hidden;
//    perspective: 1000;
//  }
//}

//
// Base styles
// -----------------------------------------------------------------------------

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
  color: @brand-primary;
}

a {
  color: @brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken(@brand-primary, 10%);
  text-decoration: underline;
}

.fa-2x {
  font-size: 1.3em;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

.app {
  padding-right: 0;
  .transition(padding-right 0.5s ease);
}

.app.toggled {
  padding-right: @sidebar-width;
  .transition(padding-right 0.5s ease);
}

.app.chat-open {
  padding-right: 30%;
  .transition(padding-right 0.5s ease);
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: @sidebar-width;
  width: 0;
  height: 100%;
  margin-right: -@sidebar-width;
  background-color: @color-indigo;
  .transition(all 0.5s ease);
}

.app.toggled #sidebar-wrapper {
  width: @sidebar-width;
}

#page-content-wrapper {
  width: 100%;
  &.container,
  &.container-fluid {
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 0;

    .row,
    .row-fluid {
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      min-height: 100%;
      width: 100%;

      .isMobile({ margin: 0px; });

      .container {
        margin-top: @header-height;
        padding: 40px;
        background: @background-page;
        min-height: 100%;
        padding-left: @app-padding;
        padding-right: @app-padding;
        .isMobile({ padding-left: @app-padding-mobile; padding-right: @app-padding-mobile; });

        &.brand-bg {
          background-color: @brand-bg;
        }
      }
      &.brand-bg {
        background-color: @brand-bg;
        color: @color-purple;
      }
      &.brand-bg-alpha {
        background-color: fade(@brand-bg, 60%);
        color: @color-purple;
      }
    }
  }
}

.app.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -@sidebar-width;
}

@media (min-width: 768px) {
  body {
    margin-bottom: @footer-height;
  }

  #page-content-wrapper {
    position: relative;
  }

  .app.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
}

article {
  font-size: 14px;
  font-family: @font-light;
  background: #FFF;
  color: @brand-black;
  margin: 0;
  //.fullHeight();
  padding: @header-height * 2  @app-padding;
  .isMobile({ padding: @header-height * 2  @app-padding-mobile; });
  section {
    a,
    a:hover,
    a:focus,
    a:active,
    a.active {
      outline: none;
    }

    a {
      color: @color-purple;
    }

    a:hover,
    a:focus,
    a:active,
    a.active {
      color: darken(@brand-black, 10%);
    }

    h1, h2, h3, h4 {
      color: @brand-black;
      font-family: @font-book;
    }
    p {
      font-family: @font-light;
    }
    ul {
      li {
        ul {
          li {
            margin-left: 30px;
          }
        }
      }
    }
  }
}
