@import (reference) '../../../styles/config.less';

#lock.theme-default.social .panel {
  .share_button {
    background-color: transparent;
    position: relative;
    border-radius: 0;
    color: #FFF;
    min-width: 1.3em;
    font-family: @font-family-base;
    padding: 1em;
    &:hover {
      color: fade(@color-yellow, 70%);
    }
    .isMobile({ width: 3em; });

    &:before {
      padding: 0.5em;
      font-family: @font-material;
      font-size: 1.3em;
      .isMobile({ font-size: 2em; });
    }
  }

  .zmdi-facebook {
    background-color: #3b5998;
  }

  .zmdi-twitter {
    background-color: #00aced;
  }

  .zmdi-google-plus {
    background-color: #dd4b39;
  }
  .zmdi-whatsapp {
    background-color: #4dc247;
  }
  .zmdi-email {
    background-color: @color-purple-1;
  }
}
