@import (reference) '../../../styles/config.less';

#lock.theme-default.sponsors .panel {
  /* Morph Button: Default Styles */
  .wrapper {
    margin: 20px 0 20px 0;
  }
  .morph-button {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .morph-button > button {
    position: relative;
    padding: 0 1em;
    border: none;
    background-color: #e85657;
    color: #f9f6e5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 80px;
    overflow: hidden;
  }
  .help-block {
    color: @brand-error;
    text-transform: uppercase;
  }
  .react-autosuggest__container {
    display: inline-block;
  }

  .react-autosuggest__suggestions-container {
    position: absolute;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 170px;
    list-style: none;
    z-index: 1;
    li {
      padding: 15px;
      text-align: left;
    }
  }

  .email-field {
    width: 160px;
    display: inline-block;
    color: @brand-primary;
    text-align: center;
    background-color: fade(@color-indigo, 10%);
    border: 1px solid fade(@color-indigo, 20%);
    padding: 12px 15px 11px 15px;
    cursor: pointer;
    outline: none;
    border-radius: @btn-radius;
    transition: all .1s linear;
  }
  .email-field:hover {
    background-color: fade(@color-indigo, 20%);
  }

  /* after button is clicked */
  .email-field.active {
    width: 140px;
    outline: none;
    color: @color-indigo;
    text-align: left;
    cursor: inherit;
  }

  /* Email submit button */
  #subscribe-button {
    width: 40px;
    height: 40px;
    border: none;
    transition: all .2s linear;
    background-color: fade(@color-indigo, 90%);
    color: @brand-primary;
    cursor: pointer; /* for demo only */
    display: none;
    background: @color-indigo;
  }
  #subscribe-button:hover {
    background-color: fade(@subscriber-color, 90%);
  }

  #subscribe-button.showmail {
    display: inline-block;
  }

  /* style input field text */
  ::-webkit-input-placeholder {
    color: @color-indigo;
    opacity: .8;
  }
  .sponsors-list {
    overflow-y: auto;
    max-height: 350px;
  }
  .sponsor {
    padding: 10px 0 10px 0;
    height: 50px;
    text-align: left;
    border-top: 1px solid fade(@color-indigo, 20%);

    .check {
      border: 2px solid fade(@color-indigo, 20%);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      .zmdi {
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        line-height: 2;
        color: fade(@color-indigo, 20%);
      }
      &.active {
        .transition(0.1s ease-out all);
        background: fade(@subscriber-color, 90%);
        .zmdi {
          color: #fff;
          .animation(bounce 0.2s);
          .animation-delay(0.08s);
        }
      }
    }
  }

  .keyframes('bounce') {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
