@import (reference) '../../../styles/config.less';

#lock {
  &.player {
    .panel {
      width: 600px;
      .mode {
        padding: 0 !important;
        .close {
          z-index: 99999;
        }
      }
    }
  }
}
