@import (reference) '../../../styles/config.less';

#lock.theme-default.social .panel {
  .share_button {
    background-color: transparent;
    position: relative;
    border-radius: 0;
    color: #FFF;
    width: 45px;
    &:hover {
      color: fade(@color-yellow, 70%);
    }
    font: normal normal normal 1.5em/1 'Material-Design-Iconic-Font';
    .isMobile({ width: 3em; });
    &:before {
      .isMobile({ font-size: 2em; });
    }
  }

  .zmdi-facebook {
    background-color: #3b5998;
  }

  .zmdi-twitter {
    background-color: #00aced;
  }

  .zmdi-google-plus {
    background-color: #dd4b39;
  }
  .zmdi-whatsapp {
    background-color: #4dc247;
  }
  .zmdi-email {
    background-color: @color-purple-1;
  }
}
