@import (reference) '../../../styles/config.less';

#lock.theme-default.social .panel {
  .share_button {
    background-color: transparent;
    position: relative;
    border-radius: 0;
    &:hover {
      color: fade(@color-yellow, 70%);
    }
    i {
      font: normal normal normal 1.5em/1 FontAwesome;
    }
  }
}
