@import '../../../styles/config.less';

.return-btn {
  position: absolute;
  top: 25px;
  left: @app-padding;
  overflow: hidden;
  z-index: 3000;
  transition: width .1s ease-in-out;
  cursor: pointer;
  text-align: left;
  //TODO: display when the button is fixed
  display: none;
  background-color: rgba(69, 69, 69, 0.7);
  border-radius: 5px;
  margin-left: -5px;
  .transition(background 0.2s linear);
  .transition(opacity 0.4s linear);
  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: @color-yellow !important;
    //TODO: display when the button is fixed
    display: none;
  }
  .fa {
    //color: @color-yellow;
    font-size: 2.3em;
    float: left;
  }
  .return-btn-label {
    font-size: 1.2em;
    padding: 0 0 0 10px;
    line-height: 2;
  }
  &.return-btn-hidden {
    opacity: 0;
    .transition(opacity 0.4s linear);
    display: none;
  }
}

//@media @mobile,@tablet{
//  .return-btn {
//    top: 10px;
//    position: relative;
//    left: @app-padding-mobile;
//    &.return-btn-hidden {
//      opacity: 1;
//      display: block;
//    }
//  }
//}
