@import (reference) '../../../styles/config.less';

.btn-goback {
  .zmdi {
    float: left;
    margin: -4px 0 -4px 5px;
  }
  .return-btn-label {
    font-size: 1.2em;
    //padding: 0 0 0 10px;
    //line-height: 2;
  }
  &.return-btn-hidden {
    display: none;
  }
}
