@import (reference) '../../../styles/config.less';

.search-box {
  position: relative;
  display: inline-block;
  height: 100%;
  @box-size: 100%;
  @box-size-collapse: 50px;
  margin: 0;
  color: @color-black-2;
  background-color: fade(@brand-primary, 10%);
  border-radius: @btn-radius;
  text-align: left;
  .transition(all 0.15s linear);
  &:before {
    position: absolute;
    content: '\f1c3';
    font-family: @font-material;
    font-size: 3em;
    line-height: 2.3;
    left: 14px;
    color: @brand-primary;
  }
  i {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 2em;
    display: none;
    color: @brand-primary;
  }

  &.has-focus {
    width: 100%;
    background-color: lighten(@color-black-2, 5%);
    .isMobile({ position: fixed; left: 0; top: @header-height - 1px; right: 0; background: fade(@color-indigo, 90%); margin: 0; padding: 1em; });
    i {
      display: block;
    }
    &:before {
      .isMobile({ left: 14px; font-size: 2em; line-height: 2; });
    }
    input {
      .isMobile({ width: 100%; });
      padding: 11px 11px 8px 50px;
      width: @box-size;
      color: @brand-primary;
      &::-webkit-textfield-decoration-container {
        &:before {
          margin-left: -30px;
          color: @brand-black;
        }
      }
      &:-webkit-autofill {
        background-color: transparent !important;
      }
      outline: none;

    }
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
      color: fade(@brand-primary, 10%);
    }
  }

  input {
    height: 100%;
    font-size: 3em;
    font-family: @font-roman;
    padding: 11px 11px 8px 50px;
    .isMobile({ padding: 11px 11px 8px 40px; });
    border-radius: @btn-radius;
    color: @brand-black;
    position: relative;
    /*removing boder from search box*/
    border: none;
    /*defining background image as a search symbol*/
    background: none;
    width: @box-size-collapse;
    .isNotMobile({ width: 300px; max-width: 100% });
    &[aria-expanded="true"] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: transparent;
  }
}

@media (min-width: 768px) {
  .search-box {
    .search-form {
      right: 0;
    }
  }
}
