@import (reference) '../../../styles/config.less';

.search-box {

  //TODO: remove le ligne suivant après le demo day
  display: none;
  .search-form {
    position: absolute;
    right: @app-padding;
    color: @brand-primary;
  }
  fieldset {
    border: none;
    color: @brand-primary;
  }

  input[type='search'] {
    &::-webkit-textfield-decoration-container {
      color: @brand-black;
      &:before {
        position: absolute;
        margin-left: -20px;
        content: '\f002';
        font-family: 'FontAwesome';
        font-size: 1.2em;
        line-height: 1;
        color: @brand-primary;
      }
    }

    font-size: 16px;
    padding: 8px 10px 8px 30px;
    margin-right: -10px;
    border-radius: 3px;
    color: @brand-black;
    /*removing boder from search box*/
    border: none;
    /*defining background image as a search symbol*/
    background-color: rgba(255, 255, 255, 0.1);
    width: 0;
    .transition(all 0.15s linear);
    &:focus {
      padding: 10px 10px 10px 50px;
      width: 200px;
      background-color: rgba(255, 255, 255, 1);
      &::-webkit-textfield-decoration-container {
        &:before {
          margin-left: -30px;
          color: @brand-black;
        }
      }
    }
  }

}