/*------------------------------------*\
  SEARCH
\*------------------------------------*/
@import (reference) '../../../styles/config.less';
// TRANSITION
// Scale animation for search page
.search-enter-active,
.search-leave-active {
  transition: all .8s ease-in-out
}

.search-enter {
  z-index: 2;
  transform-origin: left top;
  transform: scale(0);
  opacity: 0;

  &.search-enter-active {
    transform: scale(1);
    opacity: 1;
  }
}

.search-leave {
  z-index: 0;
  opacity: 1;

  &.search-leave-active {
    opacity: 0;
  }
}

.search-page {
  @search-top: @header-height;
  @search-top-mobile: @header-height * 2;

  background-color: @brand-thumbs;
  top: @header-height;
  left: 0;
  .spinner-search {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: @search-top;
    .isMobile({ top: @search-top-mobile; });
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
  .thumb-containter {
    margin: 10px;
  }

  .search__icon {
    display: block;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    width: 18px;
    height: 18px;
    opacity: .5;
    &:before {
      position: absolute;
      left: 15px;
      content: '\f002';
      font-family: 'Material-Design-Iconic-Font';
      font-size: 6em;
      line-height: 2;
      z-index: 0;
      color: @brand-primary;
    }
  }

  .search__input-font {
    color: fade(white, 55%);
    font-family: @font-thin;
    -webkit-font-smoothing: antialiased;
  }

  .search__input {
    background: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    box-sizing: border-box !important;
    margin-left: 19px;
    margin-top: 9px;
    font-size: 25px;
    line-height: 30px;
    .search__input-font;

    &::-webkit-input-placeholder {
      .search__input-font;
    }
    &:-moz-placeholder {
      .search__input-font;
    }

  }

  h4 {
    text-align: left;
  }

  @media (max-height: 680px) {
    // Folders list / header on 13" screen
    .search {
      top: 15px + @header-height;
      min-height: 6.5vh;
      height: 6.5vh;
      width: 171px;
    }

    .search__icon {
      margin-top: 1.5vh;
    }

    .search__input {
      margin-top: 1.5vh;
      font-size: 3.5vh;
      line-height: 3.5vh;
    }
  }

  .search-result {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: @search-top @app-padding @app-padding @app-padding;
    .isMobile({ padding: @search-top-mobile @app-padding-mobile @app-padding-mobile @app-padding-mobile; });
    > span {
      top: @header-height;
      position: relative;
      font-size: 2em;
      font-family: @font-thin;
    }
  }

  //LIFE
  .life-list {
    padding: @app-padding;

    .brick {
      min-height: 200px;
      .brick-content {
        margin-right: 15px;
        margin-bottom: 15px;
        .card-body {
          .card-info {
            font-size: 1.3em;
            max-height: 100px;
            overflow: hidden;
          }
          .card-bubbles {
            padding: 5px;
            .card-bubble:not(.like) {
              display: none;
            }
          }
        }
      }
    }
  }

  .actors {
    .actor-name {
      background-color: fade(@color-black-2, 10%);
      text-transform: uppercase;
      font-size: 1em;
      border-radius: 2px;
      padding: 3px 8px 3px 8px;
      margin: 2px;
      color: @color-indigo;
      font-weight: 400;
      line-height: 2;
      display: inline-block;
      &:hover,
      &:active {
        background-color: @color-yellow;
        color: @color-indigo;
        text-decoration: none;
      }
    }
    .image-actor {
      position: relative;
      display: inline-block;
      z-index: 100;
      border-radius: 50%;
      border: 1px solid fade(@color-indigo, 30%);
      padding: 0.3em;
      max-width: 100%;
      margin: 0 auto;
      .aspect-ratio(1, 1);
      width: 10em;
      img,
      .avatar-card__background_image {
        position: absolute;
        top: 0.3em;
        left: 0.3em;
        bottom: 0.3em;
        right: 0.3em;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: 5px solid fade(@color-indigo, 90%);
      }
    }
  }
}
