#lock {
  // reset and normalize
  @import "normalize.less";
  @import "reset.less";

  // Widget styles
  @import "keyframes.less";

  &.theme-default {
    @import "zocial.less";
  }

  @import "common.less";

  &.theme-default {
    @import "themes/default.less";
  }
}

@media screen and (max-width: 480px) {
  .app.lock-open {

    & > * {
      z-index: 0;
    }

    .lock-container {
      display: block;
      z-index: @nav-z-header + 10;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .lock-container {
    background: white;
    opacity: 1;
  }
}
