#lock {
  // reset and normalize
  @import "normalize.less";
  @import "reset.less";

  // Widget styles
  @import "keyframes.less";

  &.theme-default {
    @import "zocial.less";
  }

  @import "common.less";

  &.theme-default {
    @import "themes/default.less";
  }
}

@media screen and (max-width: 480px) {
  .app.lock-open {
    & > * {
      display: none;
    }

    .lock-container {
      display: block;
      //position: absolute;
    }
  }

  .lock-container {
    background: white;
    opacity: 1;
  }
}
