@import (reference) '../../../styles/config.less';

.slide-show {
  position: relative;
  background-color: @background-color-base;
  .fullHeight();
  padding: @header-height @app-padding;
  margin-top: -10px;
  min-height: 66vh;
  .movie {
    min-height: 100% !important;
    height: 100% !important;
  }

  .movie {
    position: absolute;
    .fullHeight();

    .rsr-container {
      .rsr__star {
        height: 20px !important;
      }
    }
  }

  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  .toggle {
    background: blue;
    color: white;
    display: block;
    padding: 20px;
    width: 50px;
  }

  .toggle-prev {
    left: 0;
    float: left;
  }

  .toggle--next {
    right: 0;
    float: right;
  }

  .pagination {
    position: absolute;
    bottom: 0;
    text-align: center;
  }

  .pager {
    @color-purple-alpha: rgba(red(@color-purple), green(@color-purple), blue(@color-purple), 0.4);
    background-color: @color-purple-alpha;
    display: inline-block;
    font-family: @font-light;
    font-size: 1.3em;
    line-height: 1.6;
    height: 25px;
    margin: 5px;
    padding: 1px;
    text-indent: -9000px;
    white-space: nowrap;
    width: 25px;
    color: @brand-primary;
    border-radius: 100%;
    border: 1px solid;
    cursor: pointer;
    .transition(all 0.2s);
    &:hover,
    &:focus,
    &.pager--active,
    &:active {
      font-family: @font-roman;
      background-color: @color-yellow;
      border: 1px solid @color-purple-alpha;
      color: @color-purple;
    }
  }
}

@media (min-width: 768px) {
  .slide-show {
    min-height: 36vw;
  }
}

@media @mobile,@tablet {

  .slide-show {
    .movie {
      .billboard-infos {
        .billboard-info__btn {
          display: none;
        }
      }
    }
  }
}

@media @tablet {
  .slide-show {
    min-height: 56vh;
    .pagination {
      left: @app-padding-mobile;
    }
  }
}

@media @mobile {
  .slide-show {
    min-height: 46vh;
    .pagination {
      right: 0;
    }
    .pager {
      height: 8px;
      width: 8px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .movie {
      .btn-play {
        display: none;
      }
      .billboard-infos {
        .billboard-synopsis {
          display: none;
        }
      }
    }
  }
}

