@import (reference) '../../../styles/config.less';

.slide-show {
  position: relative;
  background-color: @background-color-base;
  .fullHeight();
  padding: @header-height 0 0 0;

  .movie {
    position: relative;
    display: inline-block;
    min-height: 66vh;
    padding: 0;
    .fullHeight();
    .btn-play {
      //font-size: 5em;
      //top: 35%;
      display: none;
    }

    &.overlay .movie-background {
      left: 35%;
      .isMobile({ left: 0; });
      right: 0;
      bottom: 0;
      top: 0;
      .afrostream-movie__mask {
        background-color: inherit;
        .horizontal-gradient(@color-black-2, 0, transparent, 50%);
        .isMobile({ background: none; });

      }
    }

    .movie-background {
      .afrostream-movie__mask {
        .isMobile({ .gradient(transparent, @color-black-2); });
      }
    }

    .movie-info_content {
      display: inline-block;
      position: absolute;
    }

    .rsr-container {
      .rsr__star {
        height: 20px !important;
      }
    }
    .billboard-infos {
      vertical-align: bottom;
      margin-bottom: 50px;
      max-width: 40%;
    }
  }

  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  .toggle {
    background: blue;
    color: white;
    display: block;
    padding: 20px;
    width: 50px;
  }

  .toggle-prev {
    left: 0;
    float: left;
  }

  .toggle--next {
    right: 0;
    float: right;
  }

  .pagination {
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }

  .pager {
    position: absolute;
    bottom: @app-padding;
    left: @app-padding;
    li {
      position: relative;
      @color-purple-alpha: rgba(red(@color-purple), green(@color-purple), blue(@color-purple), 0.4);
      background-color: @color-purple-alpha;
      display: inline-block;
      font-family: @font-light;
      font-size: 1.8em;
      line-height: 1.6;
      height: 1em;
      width: 1em;
      margin: 0.2em;
      padding: 1px;
      text-indent: -9000px;
      white-space: nowrap;
      color: @brand-primary;
      border-radius: 50%;
      border: 1px solid;
      cursor: pointer;
      .transition(all 0.2s);
      &:hover,
      &:focus,
      &.pager--active,
      &.slick-active,
      &:active {
        font-family: @font-roman;
        background-color: @color-yellow;
        border: 1px solid @color-purple-alpha;
        color: @color-purple;
      }
      button {
        font-size: 0.4em;
        background: none;
        border: none;
        position: absolute;
        .fullHeight();
      }
    }
  }
}

@media (min-width: 768px) {
  .slide-show {
    //min-height: 46vw;
  }
}

@media @mobile,@tablet {

  .slide-show {
    .movie {
      .billboard-infos {
        .billboard-info__btn {
          display: none;
        }
      }
    }
  }
}

@media @tablet {
  .slide-show {
    //min-height: 56vh;
    .isLandscape({ min-height: 76vh; });
    .pagination {
      left: @app-padding-mobile;
    }
    .movie {
      .billboard-infos {
        .isLandscape({ margin-top: @app-padding-mobile; .billboard-synopsis {
          display: none;
        } });

      }
    }
  }
}

@media @mobile {
  .slide-show {

    .movie {
      min-height: 46vh;

      .billboard-infos {
        .isLandscape({ margin-top: @app-padding-mobile; .billboard-synopsis {
          display: none;
        } });

      }

    }

    .pagination {
      right: 0;
    }
    .pager {
      left: @app-padding-mobile;
      right: @app-padding-mobile;
      text-align: right;
    }

    .movie {
      .movie-background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
      }
      .billboard-infos {
        max-width: 100%;
        margin-bottom: 20px;
        .billboard-synopsis {
          display: none;
        }
      }
    }
  }
}

