@import (reference) '../../../../styles/config.less';


.cookie-message {

  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;

  a {
    text-decoration: underline;
  }
}

.cookie-button {
  color: @white-base;
  background-color: #999999;
  border-radius: 12px;
  margin: 0 0 0 20px;
  padding: 3px 6px 3px 6px;
  border: none;
}
