@import (reference) '../../../../styles/config.less';

.cookie-message {
  position: relative;
  bottom: 0;
  width: 100%;
}

.cookie-button {
  color: @color-purple;
  background-color: #999999;
  border-radius: 12px;
  margin: 0 0 0 20px;
  padding: 2px 6px 2px 6px;
  border: none;
}
