@import (reference) '../../../../styles/config.less';

.pricing {
  padding: 50px 15px 50px 15px;
  background-color: @white-base;

  .pricing-header-purple {
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: @color-indigo;
  }

  .pricing-baseline {
    margin-top: 32px;
    line-height: 20px;
    color: @color-indigo;
    font-size: 12px;
    a {
      color: @color-indigo;
      text-decoration: underline;
    }
  }

  > .row {
    padding: 20px 0 20px 0;
    margin-left: 0;
    margin-right: 0;
    @media all and (min-width: @screen-sm-min) {
      display: flex;
      align-items: flex-end;
    }
    .col {
      .plan-container {
        margin-top: 50px;
        background-color: @plan-background-color;
        .row:first-child {
          font-size: 1em;
          text-align: left;
          color: #FFF;
          padding: 2px 2px 2px 5px;
          margin: 0;
          &:after {
            content: '';
            right: 15px;
            width: 100%;
            height: 75px;
            top: -25px;
            background-size: contain;
            background-position: right bottom;
            background-repeat: no-repeat;
            position: absolute;
          }
        }
      }
      &:first-child {
        align-self: center;
      }
    }
  }
  .col {
    &:nth-child(3n+2) {
      .plan-container {
        .row:first-child {
          &:after {
            background-image: url(../../../../assets/images/billing/plans/titre_abo_light_1.png);
          }
          background-color: @plan-blue-color;
        }
        .row:nth-child(2) {
          color: @plan-blue-color;
        }
        .btn-plan {
          background-color: @plan-blue-color;
        }
      }
    }
    &:nth-child(3n+3) {
      .plan-container {
        .row:first-child {
          &:after {
            background-image: url(../../../../assets/images/billing/plans/titre_abo_light_2.png);
          }
          background-color: @plan-yellow-color;
        }
        .row:nth-child(2) {
          color: @plan-yellow-color;
        }
        .btn-plan {
          background-color: @plan-yellow-color;
        }
      }
    }

    &:nth-child(3n+4) {
      .plan-container {
        .row:first-child {
          &:after {
            background-image: url(../../../../assets/images/billing/plans/titre_abo_light_3.png);
          }
          background-color: @plan-purple-color;
        }
        .row:nth-child(2) {
          color: @plan-purple-color;
        }
        .btn-plan {
          background-color: @plan-purple-color;
        }
      }
    }

    .plan-container {
      color: @color-indigo;
      font-size: 11px;
      //NAME
      .row:nth-child(2) {
        font-size: 1.6em;
        text-transform: uppercase;
        font-weight: 500;
        padding: 20px;
      }

      //PRICE
      .row:nth-child(3) {
        font-size: 2em;
        text-transform: uppercase;
        padding-bottom: 20px;
      }

      .row {
        margin: 10px 0 10px 0;
        text-align: center;
      }

      .row:nth-child(n+4) {
        &:not(:last-child) {
          span {
            display: list-item;
            list-style-position: inside;
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
          }
        }
      }

      .row:last-child {
        display: block;
        margin: 0;
      }

      .btn-plan {
        color: @white-base;
        font-size: 12px;
        font-weight: bold;
        line-height: 28px;
        border-radius: @btn-radius;
        padding-left: 15px;
        padding-right: 15px;
        margin: 20px 0 20px 0;
        padding-bottom: 0px;
        text-transform: uppercase;
        border: none;
        &:hover {
          background-color: @subscriber-color;
        }
      }

      .plan-highlight {
        display: inline-block;
        color: #84a7b2;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #eee;
        font-size: 1em;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.7;
        font-weight: 600;
      }
    }
  }
}
