@import (reference) '../../../../styles/config.less';

.spots-list {
  width: 100%;
  margin: 0;
  h2 {
    width: 100%;
    margin: 30px;
    text-transform: uppercase;
  }
  .isMobile({ padding: 0 @app-padding-mobile @app-padding-mobile @app-padding-mobile; });
  .isNotMobile({ padding: 0 @app-padding @app-padding @app-padding; });
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  .thumb {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  .sign-up__container {
    margin: @app-padding;
  }
}
