@import (reference) '../../../../styles/config.less';

.spots-list {
  width: 100%;
  margin: 0;
  .isMobile({ padding: @app-padding-mobile; });
  .isNotMobile({ padding: @app-padding; });
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  .thumb {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}
