@import (reference) '../../../../styles/config.less';

.welcome-life {
  position: relative;
  width: 100%;
  height: 400px;
  padding: @app-padding;
  a,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
  }

  &:hover {
    .welcome-life_img {
      opacity: 0.5;
    }
  }
  .welcome-life_img {
    .transition(opacity 0.3s, linear);
    position: absolute;
    .fullHeight();
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .afrostream-logo {
    position: relative;
    z-index: 1;
    padding-top: @app-padding;
  }
  .welcome-life_accroche {
    &:before {
      content: "";
      width: 150px;
      height: 13px;
      background-color: @brand-primary;
      position: relative;
      display: block;
      margin-left: 10px;
    }
    position: relative;
    margin: 0 0.5em 0 0.5em;
    color: @color-yellow;
    font-size: 3em;
    font-family: @font-book;
    font-weight: bold;
    span {
      line-height: 1.3;
      //float: left;
      position: relative;
      display: block;
    }
  }
  .subscribe-button {
    vertical-align: bottom;
    margin: 1em 0 1em 0;
    position: absolute;
    bottom: 1em;
    right: 30%;
    .isMobile({ position: relative; right: inherit; bottom: inherit; });
  }

}

