@import (reference) '../../../../styles/config.less';

.welcome-header {
  width: 100%;
  position: relative;
  padding: @header-height 0 @header-height 0;
  .isMobile({ padding: @header-height-mobile 0 0 0; });
  position: relative;
  text-align: center;
  color: @white-base;

  .slide-show {
    padding: 0;
    height: auto;
    .movie {
      display: table;
      height: auto;
      min-height: 76vh;

      .movie-info_content {
        vertical-align: middle;
        display: table-cell;
        height: auto;
        position: relative;
      }

      .billboard-infos {
        .isMobile({ margin-top: 0; });
        .billboard-synopsis {
          .isMobile({ display: block; });
        }
      }

      .movie-background {
        background-position: 50% 50%;
        .isMobile({ background-position: 50% 0; height: 50vh; })
      }
    }
  }

  .isMobile({ padding-top: @header-height-mobile; });

  .afrostream-movie__logo {
    .aspect-ratio(16, 9);
    //position: absolute;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    .isMobile({ top: 0; padding-left: 10%; background-position: right center; });
  }

}
