@import (reference) '../../../../styles/config.less';

.welcome-life {
  position: relative;
  width: 100%;
  height: 500px;
  padding: @app-padding;
  a,
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
  }

  &:hover {
    .welcome-life_img {
      opacity: 0.5;
    }
  }
  .welcome-life_img {
    .transition(opacity 0.3s, linear);
    position: absolute;
    .fullHeight();
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .afrostream-life__mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .isMobile({ background-color: fade(#000, 20%); });
    }
  }
  .afrostream-logo {
    position: relative;
    z-index: 1;
    padding-top: @app-padding;
    width: 30%;
    .isMobile({ width: 100%; });
  }
  .welcome-life_accroche {
    &:before {
      content: "";
      width: 150px;
      height: 15px;
      background-color: @brand-primary;
      position: relative;
      display: block;
      margin-left: 10px;
    }
    position: relative;
    margin: 0 0.5em 0 0.5em;
    .isMobile({ margin: 0 0.5em 1em 0.5em; });
    color: @color-yellow;
    font-size: 4em;
    font-family: @font-book;
    font-weight: bold;
    span {
      line-height: 1.3;
      //float: left;
      position: relative;
      display: block;
    }
  }
  .subscribe-button {
    vertical-align: bottom;
    margin: @app-padding;
    position: absolute;
    bottom: 1em;
    .isMobile({ margin: 0; position: relative; right: inherit; bottom: inherit; });
  }

}

