@import (reference) '../../../../styles/config.less';

.welcome-footer {
  width: 100%;
  position: relative;
  display: inline-block;
  background-color: #251530;
  padding: 10px 0 0 0;
  min-height: 100px;

  .links {
    width: 100%;
    position: relative;
    display: inline-block;

    .get-help {
      position: relative;
      float: left;
      width: 32%;
      padding-left: 14%;

      h4 {
        color: @white-base;
        font-size: 12px;
        font-weight: lighter;
      }

      .footer-links {
        list-style-type: none;
      }
    }
  }

  .footer-link {
    color: #A39EA7;
    line-height: 16px;
  }
  .legal-statements {
    width: 100%;
    min-height: 30px;
    background-color: #442E4F;
    position: relative;
    display: inline-block;

    .links {
      width: 100%;
      position: relative;
      display: inline-block;

      .get-help {
        position: relative;
        float: left;
        width: 32%;
        padding-left: 14%;
      }
    }
  }

  .legal-text {
    padding: 10px 0 0 0;
  }
}

@media (min-width: 768px) {

}