@import (reference) '../../../../styles/config.less';

@keyframes scroll {
  0%, 20% {
    transform: translateY(0px) translateZ(0px);
    opacity: 0.5;
  }
  10% {
    transform: translateY(0px) translateZ(0px);
    opacity: 0.5;
  }
  60% {
    transform: translateY(0.1em) translateZ(0px);
    opacity: 0.01;
  }
  100% {
    transform: translateY(0px) translateZ(0px);
    opacity: 0.5;
  }
}

.welcome-header {
  width: 100%;
  position: relative;
  padding: @header-height 0 0 0;
  .isMobile({ padding: @header-height-mobile 0 0 0; });
  text-align: center;
  color: @white-base;
  &.welcome-header_movie {
    .slide-show {
      .movie {
        .movie-info_content {
          display: inline-block;
        }
      }
    }
  }
  .slide-show {
    padding: 0;
    height: auto;
    .movie {
      display: table;
      height: auto;
      min-height: @welcome-header-height;
      //.isMobile({ min-height: 100vh; margin-top: -@header-height-mobile; padding-top: @header-height-mobile; });

      .movie-info_content {
        vertical-align: middle;
        .isMobile({ vertical-align: bottom; });
        display: table-cell;
        height: auto;
        position: relative;
        .billboard-no-users {
          text-align: left;
        }
      }

      .billboard-infos {
        //max-width: 65%;
        .isMobile({ max-width: 100%; margin-top: 0; });
        .billboard-synopsis {
          .isMobile({ display: block; });
        }
      }

      .movie-background {
        background-position: 50% 50%;
        .isMobile({ background-position: 50% 0; height: 50vh; })
      }
    }
  }

  .isMobile({ padding-top: @header-height-mobile; });

  .afrostream-movie__logo {
    .aspect-ratio(16, 9);
    //position: absolute;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    .isMobile({ top: 0; padding-left: 10%; background-position: right center; });
  }

  .countdown {
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .mouse {
    position: relative;
    height: 6em;
    -webkit-backface-visibility: hidden;
    &::after {
      content: "\f2f9";
      font-family: @font-material;
      font-size: 8em;
      position: absolute;
      opacity: 0.5;
      transform: translateY(0px) translateZ(0px);
      animation: scroll 2.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
      margin-top: -.5em;
      margin-left: -.2em;
    }
  }
  &.welcome-overlay {
    .movie {
      min-height: inherit;
    }

    .video-container {
      //.video-overlay {
      //  background-color: transparent;
      //  .horizontal-gradient(@color-black-2, 10%, transparent, 100%);
      //}
      //.video-background {
      //  .transform(translateX(-40%) translateY(-50%));
      //}
      .video-content {
        &:before {
          .isMobile({ vertical-align: top; });
        }
        .movie-info_content {
          vertical-align: bottom;
          .isMobile({ vertical-align: top; /* top: 40vh;*/ });
        }
        .movie-background {
          .isMobile({ height: 40vh; });
        }
      }
    }

    .movie-background {
      display: inline-block;
      .isMobile({ position: relative; });
      .afrostream-movie__mask {
        //.horizontal-gradient(fade(@color-black-2, 30%), 0, fade(@color-black-2, 30%), 100%);
      }
    }
    .billboard-infos {
      .billboard-synopsis {
        .isMobile({ font-size: 1em; });
      }
    }
  }
  .video-container {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .isMobile({ height: auto; min-height: calc(@welcome-header-height ~'-' @header-height); });
    min-height: calc(@welcome-header-height ~'-' @header-height);
    .fullHeight();
    background: url(../../../../assets/images/default/1044x731.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .video-background {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      max-width: 190%;
      width: auto;
      height: auto;
      z-index: 0;
      .transform(translateX(-50%) translateY(-50%));
      background-size: cover;
      background-position: 50% 50%;
    }

    .video-overlay,
    .video-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .video-overlay {
      background-color: fade(@color-black-2, 40%);
    }

    .video-content {
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: bottom;
      }

      .afrostream-movie__subscribe {
        display: inline-block;
        vertical-align: bottom;
        margin: 1em 0 5em 0;

        .afrostream-statement {
          font-family: @font-book;
          font-weight: bold;
          font-size: 5em;
          .isMobile({ font-size: 3em; margin: 2em 0.5em 4em 0.5em; });
          line-height: 1.2em;
          margin: 1em 0.5em 1em 0.5em;
          text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
          span {
            display: inline-block;
          }
          &:first-of-type {
            &:first-letter {
              text-transform: uppercase;
            }
          }
        }

        .subscribe-button {
          text-transform: inherit;
          border-radius: 2px;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
        }
      }

      //COUNTDOWN
      .countdown-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &:before {
          display: inline-block;
          height: 100%;
          content: "";
          vertical-align: middle;
        }
        .countdown-content {
          width: 100%;
          display: inline-block;
          vertical-align: middle;
          padding: 2em;
          .mouse {
            margin-top: 3em;
          }
        }
      }
      .countdown-timer {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }
      .discount-statement {
        font-size: 1em;
      }
      .afrostream-movie__subscribe {
        margin: 0;
        width: 100%;
        .afrostream-statement {
          text-align: center;
          .isMobile({ margin: 0; });
        }
      }
    }
  }
}

.discount-statement {
  position: relative;
  color: @brand-primary;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  .isMobile({ flex-direction: column; align-items: center; });
  text-transform: uppercase;
  font-family: @font-oswald;
  font-size: 3em;

  .price {
    display: inline-block;
    text-align: center;
    font-size: 2em;
    padding: 0.3em;
    .isMobile({ padding: 10px; });
  }

  .title {
    display: inline-block;
    text-align: left;
    max-width: 8em;
  }

  .discount {
    font-size: 1.2em;
    line-height: 1.3em;
    .bolder {
      font-size: 1.3em;
    }
  }
  .bolder {
    color: @subscriber-color;
  }
  .currency {
    display: inline-block;
    font-size: 0.5em;
    font-family: @font-oswald;
  }
  .mini {
    font-size: 0.2em;
    display: inline-block;
    text-transform: lowercase;
    padding: 0 5px 0 5px;
    &:first-of-type {
      padding-left: 30px;
    }
  }
  .off {
    display: inline-block;
    font-size: 1.1em;
    color: @plan-red-color;
    margin: 0.3em;
    position: relative;
    .currency {
      font-size: 0.15em;
      padding: 0;
    }
    &:before,
    &:after {
      position: absolute;
      top: .6em;
      content: '';
      display: block;
      width: 2.2em;
      height: .1em;
      background-color: @brand-primary;
    }
    &:after {
      transform: rotate(25deg);
    }
    &:before {
      transform: rotate(-25deg);
    }
  }
  .underline {
    &:after {
      content: "";
      width: 2em;
      height: 5px;
      background-color: @plan-red-color;
    }
  }
}
